<table>
    <tr>
        <td class="filled">
            Первый блок меню
        </td>
    </tr>
    <tr>
        <td>
            {position:header}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td width="30%" class="filled">
            {cell:LANG_PAGE_LOGO}
        </td>
        <td width="70%" class="filled">
            <table>
            <tr>
            
            Баннер
            </tr>
            <tr>
            {position:top_banner}

            </tr>
            </table>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="filled">
            Второрй блок меню
        </td>
    </tr>
    <tr>
        <td>
            {position:top}
        </td>
    </tr>
    <tr>
        <td>{block:LANG_CAROUSEL}
            {position:carousel}
        </td>
    </tr>
    <tr>
        <td>{block:breadcrumbs}
            {position:breadcrumbs}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td width="50%">
            {position:body-top}
            {block:LANG_PAGE_BODY}
            {position:body-bottom}

        </td>
        <td width="25%">
            <div class="block"><span>Левый сайдбар</span></div>
            {position:left-top}
            {position:left-center}
            {position:left-bottom}
            
        </td>
        <td width="25%">
            <div class="block"><span>Правый сайдбар</span></div>
            {position:right-top}
            {position:right-center}
            {position:right-bottom}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td width="65%" class="filled">
            {cell:LANG_PAGE_FOOTER}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {position:footer_nav}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {position:subfooter}
        </td>
    </tr>
    <tr>
        <td>
            {position:footer}
        </td>
    </tr>

    <tr>
        <td>
            <div class="block"><span>Фиксированное меню</span></div>
            {position:active_menu}
        </td>
    </tr>
</table>