/* Звездный рейтинг */

.maps-star-rating { overflow: hidden; }
.maps-star-rating ul{
	margin:0;
	padding:0;
	list-style: none;
	display: flex;
}

.maps-star-rating .star { 
	float:left;
	display:block;
	width:16px;
	height:16px;
	background:url("../../../images/maps/stars.png") no-repeat 0 0;
}

.maps-star-rating.red .star { 
	background-image: url("../../../images/maps/stars-red.png");
}

.maps-star-rating.small .star { 
	width:12px;
	height:12px;	
	background-image: url("../../../images/maps/stars-small2.png");
}

.maps-star-rating .full { background-position: 0 -16px; } 
.maps-star-rating .half { background-position: 0 -32px; } 

.maps-star-rating.small .full { background-position: 0 -12px; }
.maps-star-rating.small .half { background-position: 0 -24px; } 

/* Общие стили */

.maps_widget .item{ margin-bottom: 10px; overflow:hidden; clear:both; }

.maps_widget .item:last-child{ margin: 0; }

.maps_widget .item .title{
    font-size: 16px;
}

.maps_widget .details { font-size:12px; }

.maps_widget .details span {padding-right: 5px;}

/* Общие стили - сайдбар */

aside .maps_widget .item{ margin-bottom: 5px; }
aside .maps_widget .item .title{ font-size: 14px; }
    
    
/* Виджет "Список отзывов" */

.widget_places_reviews .maps-star-rating{
    display: inline-block;
    margin-left:5px;
}

/* Виджет "Список событий" */
.widget_places_events .media{
  background-color: #fff;
  padding: 10px 10px;
}

.widget_places_calendar  {
  background-color: #fff;
  padding-bottom: 15px;
}
.month_name {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5rem;
}
.month_name .btn-link:hover{
  text-decoration: none;
}
.widget_places_calendar .days {
  display: flex;
  flex-wrap: wrap;
  margin:0 15px;
}
.widget_places_calendar .day {
  flex:1 1 14.285%;
  max-width: 14.285%;
  text-align: center;
  padding: 5px 0;
  display: inline-block;
  border: 1px solid #f2f2f2;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
  cursor: default;
}
.widget_places_calendar .day a{
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  padding: 5px 0;
  color: #fff;
  background-color: #31a1d9;
  transition: 0.2s;
}
.widget_places_calendar .day a:hover{
  background-color: #318fc7;
  text-decoration: none;
}

.widget_places_calendar .day-6,
.widget_places_calendar .day-7 {
  color: #e74c3c;
}