.activity-list h3 {
  border-bottom: 1px solid #ededed;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}


.activity-list .item .details { font-size:11px; }
.activity-list .item .details .date { color:#999; }
.activity-list .item .details .reply {
    padding-left: 5px;
}
.activity-list .item .details .reply a {
    color:#BDC3C7;
}
.activity-list .item .details .reply a:hover {
    color:#d35400;
}

.activity-list .item .images { overflow: hidden; margin:10px 0; }
.activity-list .item .images .image {
    float:left; margin-right:2px;
    display:block; overflow: hidden;
}
.activity-list .item .images .image.more {
    background: #ecf0f1;
    text-align: center;
    line-height: 64px;
    font-size:18px;
}
.activity-list .item .images .image.more a {
    display:block; width: 64px; height:64px; overflow: hidden;
    color:#7f8c8d;
    text-decoration: none;
}
.activity-list .item .images .image.more a:hover {
    color:#2c3e50;
}

.activity-list .item .actions {
    float:right;
    visibility: hidden;
}

.activity-list .item:hover .actions {
    visibility: visible;
}
.activity-list .default_avatar {
    line-height: 40px !important;
}

