#search_results_pills { margin:20px 0; }

#search_results_list .item {
    margin-bottom: 15px;
}

#search_results_list .item .title {  margin-bottom:5px;  }
#search_results_list .item .title a { font-size:16px;}

#search_results_list .item .field {  margin-bottom:5px;  }
#search_results_list .item .field.search_field_image {
    float: left;
    margin: 2px 12px 0 0;
}
#search_results_list .item .info .date {  font-size:12px; color: #7f8c8d; }

#search_results_list .item .field em, #search_results_list .item .title a em { color:#c0392b; }