#user_profile_title {
  margin: -10px -15px 0;
  position: relative;
  min-height: 43px;
}
.user-profile-status {
  background-color: rgba(250, 250, 250, 0.75);
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.status-text {
  font-weight: 600;
  padding-right: 5px;
}
.status-icon {
  background-color:#0b99bc;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
  padding: 2px 3px;
  text-decoration: none;
}
.status-icon .glyphicon{
    color: #fff;
}
.status-icon .glyphicon-comment{
  left: 1px;
  top: 2px;
}
.status-icon .glyphicon-remove {
    top:2px;
    left: 1px;
}
.karma {
    font-size: 16px;
    white-space: nowrap;
    word-wrap: normal;
}
.value.zero,
.thumb {
  padding: 0 0 0 5px;
}
.thumb:hover {text-decoration: none;}

#user_profile_title {
  background-position: center center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.user-profile-navbar {
  background-color: #0b99bc;
  height: 60px;
  margin: 0 -15px;
}

@media (min-width: 768px) {
  .user-profile-navbar {
    margin-bottom:25px;
  }
}
.profile-h1 {
    background-color: #383838;
    font-size: 14px;
    margin:0;
}
.profile-avatar {padding: 0 15px;background-color: #383838;}
.profile-avatar a {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 50%;
  color: rgb(11, 153, 188);
  display: block;
  font-size: 22px;
  height: 50px;
  width: 50px;
  margin: 5px 0;
}
.profile-avatar img,
.profile-avatar .default_avatar {
  border-radius: 50%;
  height: 46px;
  width: 46px;
}
.profile-avatar .default_avatar:after {
    border-radius: 50%;
}
.profile-name {
  float: left;
  padding: 22px 15px;
  width: 100px;
  word-wrap: normal;
}
@media (max-width: 359px) {
  .profile-avatar a {
    display: none;
  }
  .profile-avatar {
    padding: 0px 10px;
  }
}
.nav-profile-tabs > li {
    float: left;
}
.nav-profile-tabs > li > a {
  color: #fff;
  padding: 20px 15px;
  transition: all 0.2s ease 0s;
}
.nav-profile-tabs > .active > a,
.nav-profile-tabs > li > a:hover,
.nav-profile-tabs > li > a:focus {
    background-color: #383838;
}
.nav-profile-tabs > li > a:after {
    bottom: -4px;
    content: "";
    transition: bottom 0.3s ease;
}
.nav-profile-tabs > .active > a:after,
.nav-profile-tabs > li> a:hover:after {
    border: 5px solid transparent;
    border-top: 5px solid #383838;
    bottom: -9px;
    content: "";
    left: 50%;
    margin-left: -4px;
    position: absolute;
    z-index: 10;
}
.nav-profile-tabs.flex > li > .flexMenu-popup {
  left: auto;
  right: 0;
}
.flexMenu-popup li.null-li {
  display: none;
}
.rating-block {
    color:#d0d0d0;
    white-space: nowrap;
    word-wrap: normal;
    padding: 3px 0 3px 15px;
    background-color: #383838;
    position: relative;
}
.rating-block:after {
    border: 5px solid transparent;
    border-left: 5px solid #383838;
    right: -9px;
    content: "";
    top: 50%;
    margin-top: -4px;
    position: absolute;
}

.rating-block-border {
  border-left: 1px solid #888;
  padding: 6px 15px;
  min-width: 80px;
  text-align: center;
}
.rating-glyphicon {
  color: #d0d0d0;
  display: block;
  font-family: "Glyphicons Halflings";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding: 2px 0;
  position: relative;
  text-align: right;
}
.rating-glyphicon:before {
    position: absolute;
    left: 0;
}

.rating-text {
    font-family: "Roboto";
    font-size: 14px;
}

#user_profile_header .media, .media-body {
  overflow: visible;
}




#user_profile_title .is_locked{
    font-size: small;
    color:red;
    margin-left:15px;
}

/* ========================================================================== */
#user_status_widget.loading {
    background-position: center center;
}

#user_status_widget.loading .input{
    visibility: hidden;
}

/* ========================================================================== */


.profile-details{
    color: #7b7b7b;
    font-size: 12px;
    line-height: 1.7;
    padding: 15px;
}
.profile-details li{
    clear: both;
}
.profile-details strong{
    float: left;
    font-weight: normal;
}
.profile-details span{
    float: right;
}
.details-text .online {
    color: #d40e52;
}

.content_counts li a {
  border-top: 1px solid #fff;
  display: block;
  padding: 10px 15px;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.content_counts li .counts_icon {
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 2px;
}
.content_counts .counts_icon:after {
  content:"\e022";
}
.content_counts .news .counts_icon:after {
  content:"\e032";
}
.content_counts .articles .counts_icon:after {
content:"\270f";
}
.content_counts .posts .counts_icon:after {
content:"\e043";
}
.content_counts .albums .counts_icon:after {
content:"\e046";
}
.content_counts .recipes .counts_icon:after {
content:"\e179";
}
.content_counts .board .counts_icon:after {
content:"\e116";
}

.content_counts li a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #3b3b3b;
}

#profile-avatar {
  background-position: center center;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 225px;
  margin: 0 auto;
  width: 225px;
  position: relative;
}
#profile-avatar .default_avatar,
#profile-avatar .default_avatar:after {
  border-radius: 50%;
}
#profile-avatar .default_avatar img{
  height: 100%;
  width: 100%;
}
.profile-avatar-yes img {
  display: none;
}
/* ========================================================================== */
#profile-left-col {
  background-color: #f3f3f3;
  padding-top: 15px;
}
@media (min-width: 768px) {
  #profile-left-col {
      width: 241px;
      float: left;
      margin-right: 15px;
  }
}
@media (max-width: 767px) {
  #profile-left-col {
      margin-bottom: 20px;
  }
}
#profile-right-col {
    overflow: hidden;
    width: auto;
    padding: 0 15px;
}

#user_profile #right_column {
    overflow: auto;
}


/* ========================================================================== */



/* ========================================================================== */

#user_profile #information .fieldset_title{
    border-top: solid 1px #e8e8e8;
    margin-bottom: 20px;
    margin-top:10px;
}

#user_profile #information .fieldset_title .title-name{
    margin:0;
    margin-top:-10px;
    background:#FFF;
    padding-right:10px;
    float:left;
    font-size:14px;
    font-weight: bold;
    color: #3b3b3b;
}

#user_profile #information .fieldset {
    padding-bottom:15px;
}

#user_profile #information .fieldset .field {
    margin-left:15px;
    margin-bottom: 5px;
}

#information .fieldset .field .title{
    color:#7b7b7b;
    font-weight: normal;
    font-size: 12px;
    width: 160px;
}
#information.content_item .value {
    color: #0b99bc;
    font-weight: 500;
    font-size: 12px;
}
#information.content_item.block .f_hobby {
  margin-left:0 !important;
}
#information.content_item.block .f_hobby .value {
  color: #3b3b3b;
}
.friends-list > a {
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  text-decoration: none; 
}
/* ========================================================================== */
#users_karma_log_list .media-right .value{
    text-indent: -10000px;
    display: none;
    overflow-x: hidden;
}

#users_karma_log_list .positive span{
    color: #0b99bc;
}

#users_karma_log_list .negative span{
  color: #d40e52;
}

/* ========================================================================== */

#groups_invite_window{ padding:20px; }
#groups_invite_window h3 { margin:0; }
#groups_invite_window .list { margin:10px 0; }
#groups_invite_window .list select { width:300px; }

/* Media Queries ============================================================ */

#user_content_list {
  background-color: #e8e8e8;
  margin: 0 -15px -10px;
  padding-top: 15px;
}
#user_content_list .list_blogs {
  background: #fff;
  padding: 15px;
}

#user_content_list .content_list,
#user_content_list #maps-map-block {
  margin: 0;
}

@media (min-width: 768px) {
  #user_profile_header + #user_content_list {
    margin-top: -25px;
  }
}
