.cont_head {
  color: #3b3b3b;
  margin: 5px 0 15px;
}
.groups-list {
  background-color: #e8e8e8;
  margin: 0 -15px -10px;
  padding-top: 15px;
}
.groups-list .media {
    background-color: #fff;
}

.group-item2 {
    overflow: hidden;
}

@media (max-width: 767px) {
    .group-left,
    .group-item2 {
        display: table-cell;
        vertical-align: middle;
    }  
    .group-right-width {
        font-weight: 500;
    }
    .group-item2 .media-body,
    .group-item2 .media-right{
        display: block;
        width: auto;
    }
    .group-item2 .media-right{
        padding: 0 15px;
        margin-top: 5px;
    }
}
@media (min-width: 768px) {
    .group-left {
        float: left;
    }
    .group-right-width {
        width: 140px;
    }
    .groups-list .media-right {
        background-color: #0b99bc;
        text-align: center;
        color: #fff;
        padding: 0;
        font-size: 18px;
    }
    .group-count span {
        display: block;
        font-size: 36px;
        line-height: 1;
    }
    .groups-list .media-body {
      height: 140px;
    }
    .groups-list .title a{
      font-size:24px;
    }
}


.groups-list .media-body {
  background-color: #fff;
  padding:0 15px;
}

.groups-list .title a{
    font-size:18px;
    color: #0b99bc;
}
.groups-list .title a:hover{
    color: #d40e52;
    text-decoration: none;
}
.group-logo {
  background-position: center center;
  background-size: cover;
  height: 140px;
  width: 140px;
  display: block;
}
/* ========================================================================== */
.content_counts li a {
  border-top: 1px solid #fff;
  display: block;
  padding: 10px 15px;
  transition: background 0.2s ease 0s;
}

.content_counts li a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #3b3b3b;
}
.details-text .online {
    color: #d40e52;
}
/* ========================================================================== */

.group_title_bar {
    background-color: #383838;
    color: #fff;
    margin: -10px -15px 15px;
    position: relative;
    display: flex;
}
.group-bar-body {
    flex: 1 1 auto;
}
.group-bar-right {
    margin-left: auto;
}

#group_profile_title {
  font-size: 24px;
  margin: 0;
  padding: 15px;
}
.logo.group-bar-left {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo.group-bar-left img {
    max-width: 64px;
    max-height: 64px;
}
.group-bar-rating {
  padding: 0 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.group-bar-rating::before {
  border-left: 1px solid #888;
  content: "";
  display: block;
  height: 42px;
  left: 0;
  position: absolute;
  top: -8px;
}
.group-bar-rating,
.group-bar-rating  span{
    color: #d0d0d0;
    font-size: 18px;
}
.group-bar-count{
  background-color:#0b99bc;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.group-bar-count::before {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #383838;
  border-top: 5px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -1px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 0;
}

.group-bar-count span{ 
    display: block;
    font-size: 36px;
    line-height: 1;
}

#group_profile_tabs { margin-top:15px; }
#group_content_pills {
  border: 1px solid #dddddd;
  margin: -21px 0 20px;
  padding: 3px 15px;
}
#group_content_pills .nav-filtr {margin:0;}

#group_content_list .filter-panel{
    margin:15px 0;
    margin-top:0px;
    border:solid 1px #EDEDED;
    border-bottom:solid 1px #FFF;
}

/* ========================================================================== */


#group_staff_add{
    margin-bottom: 0;
}

#group_staff_add .hint{
    margin-top:-5px;
    margin-bottom: 5px;
    color:#B3C2C9;
}

#group_staff_add .field .input{
    margin-bottom: 5px;
}

/* ========================================================================== */

#groups_invite_window { padding:15px; }
#groups_invite_window h3 { margin-top:0; }
#groups_invite_window .list { margin-bottom: 10px; }


#group_head {
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 230px;
    position: relative;
    margin: -10px -15px 10px;
}

#group_head .group_counts {
    background: #383838;
    opacity: .8;
    padding: 10px 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
}

#group_head .share {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.nav-tabs-group{
    flex:1 1 auto;
}

.group_title {
    margin-top: 0;
}