html, body{
    padding:0; margin:0;
    height:100%;
    width:100%;
    font-size:14px;
}

a { color:#09c; }
a:hover { color:#f90; }

#map-canvas {
    width:100%;
    height:100%;
    background:#ECECEC;
}

/* Балун на главной карте - Общие */

#maps-map-block #map-canvas .balloon-loading {
	display:block;
	width:100px;
	height:50px;
	background:url("../../../images/maps/loader-white.gif") no-repeat center;
}

.maps-balloon table,
.maps-balloon table td {
	border:none;
	border-collapse: collapse;
	padding:0;
	margin:0;	
	vertical-align: top;
}
	
.maps-balloon .image{
	padding-right: 15px;
}

.maps-balloon .details .title{
	font-size:18px;
	font-weight:bold;
}  

.maps-balloon .details .category a {
    font-size:11px;
    color:#999;
    text-decoration: none;
}

.maps-balloon .details .category a:hover {
    color:#666;
}

.maps-balloon .details .title a {
	color:#2c3e50;
}
.maps-balloon .details .title a:hover {
	color:#F60;
}
.maps-balloon .details .address{
	color:#68809B;
}
.maps-balloon .details .contacts {
	font-size:12px;
	margin-top:10px;
}
.maps-balloon .details .contacts ul,
.maps-balloon .details .contacts ul li {
	list-style: none;
	padding:0;
	margin:0;	
}
.maps-balloon .details .contacts ul li {
	
	color:#555;
}

.maps-balloon .details .contacts ul li a { color:#666; text-decoration: none; }
.maps-balloon .details .contacts ul li a:hover { text-decoration: underline; }

.maps-balloon .reviews { overflow: hidden; margin-top: 10px; }
.maps-balloon .reviews .maps-star-rating { float:left; margin-right:10px; }
.maps-balloon .reviews a { float:left; display: block; height:16px; line-height: 16px; font-size:12px; }

.maps-balloon-list .title{
    margin-bottom: 5px;
}

.maps-balloon-list .items{
    max-height: 250px;
    overflow-y: auto;
}

.maps-balloon-list .list,
.maps-balloon-list .list .category {
    list-style:none; margin:0; padding:0;
    text-align: left;
}

.maps-balloon-list .category,
.maps-balloon-list .category > a { 
    color:#999;
    text-decoration: none;
}

.maps-balloon-list .category > a:hover {
    color:#666;
}

.maps-balloon-list .category ul {
    margin-left:10px;
    list-style:disc;
    padding-left: 10px;    
    margin-bottom: 5px;
}


/* Балун на главной карте - 2ГИС */

.dg-popup__container .balloon-loading { background-image:url("../../../images/maps/loader-black.gif") !important; }
.dg-popup__container .maps-balloon .title a { color:#FFF; }
.dg-popup__container .maps-balloon .address { color:#d4e6fc; }
.dg-popup__container .maps-balloon .details .contacts ul li, 
.dg-popup__container .maps-balloon .details .contacts ul li a { color:#ECECEC; }
.dg-popup__container .maps-balloon .details .contacts ul li.phone { background-image:url("../../../images/maps/icons/glyph-light-phone.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.url { background-image:url("../../../images/maps/icons/glyph-light-url.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.skype { background-image:url("../../../images/maps/icons/glyph-light-skype.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.email { background-image:url("../../../images/maps/icons/glyph-light-email.png"); }

/* Балун на главной карте - BING */

.balloon-bing { background: #FFF; padding: 15px; padding-right:25px; box-shadow: 0 0 3px #000; white-space: nowrap; position:relative; }
.balloon-bing.balloon-loading { background-color: #FFF !important; padding:0; }
.balloon-bing a.close{ 
	display: block;
	width: 16px; height: 16px;
	background:url("../../images/maps/balloon-close.png") no-repeat center;
	position: absolute;
	right:5px;
	top:5px;
}

.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-object {
  display: block;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.maps-balloon.media .maps-contacts-list {
  color: #888;
  font-size: 12px;
  margin: 0 0 0 -5px;
  padding: 0;
}
#map-canvas .maps-balloon .reviews {
  overflow: hidden;
  margin-top: 0;
}
