/* Главная карта */

#maps-map-block {
  background-color: #e8e8e8;
  padding-bottom: 20px;
  position: relative;
}
.maps-map-component {
  margin: -5px -15px 0px;
}

#maps-map-block #map-canvas {
	width:100%;
	height:500px;
}

/* Выбор города */

#maps-city-selector {
	display: inline-block;
	padding:5px 10px 10px 25px;
	background: url("../../images/maps/icons/expand.png") no-repeat 9px 5px #B8D6FB;
	line-height: 16px;
	position:absolute;
    left:0;
	top:0;
	z-index: 10;
	box-shadow: 0 1px 1px #666;
}

#maps-city-selector a { color:#34495e; border-color:#34495e; }
#maps-city-selector a:hover { color:#000; border-color:#000; }

#maps-city-selector-window {
	width:500px;
	padding:15px;
	overflow: hidden;
}

#maps-city-selector-window h3{
	margin:0;
	margin-bottom:15px;
}

#maps-city-selector-window .maps-city-list{
	max-height: 500px;
	overflow-y: auto;
}

#body section h1{ position: relative; }

#maps-list-city-selector {
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: -3px;
}
#maps-list-city-selector a {
  padding: 0 5px;
}

/* Балун на главной карте - Общие */

#maps-map-block #map-canvas .balloon-loading {
	display:block;
	width:100px;
	height:50px;
	background:url("../../images/maps/loader-white.gif") no-repeat center;
}

.maps-balloon.media .maps-contacts-list {
	color: #888;
	font-size: 12px;
	margin-left: -5px;
}

.maps-balloon.media .maps-contacts-list > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.maps-balloon.media .glyphicon,
.maps-balloon.media .fontello {
	color: #0b99bc;
	font-size: 14px;
}

.maps-balloon .reviews { overflow: hidden; margin-top: 10px; }
.maps-balloon .reviews .maps-star-rating { float:left; margin-right:10px; }
.maps-balloon .reviews a { float:left; display: block; height:16px; line-height: 16px; }

.maps-balloon-list .title{
    margin-bottom: 5px;
}

.maps-balloon-list .items{
    max-height: 250px;
    overflow-y: auto;
}

.maps-balloon-list .list,
.maps-balloon-list .list .category {
    list-style:none; margin:0; padding:0;
    text-align: left;
}

.maps-balloon-list .category,
.maps-balloon-list .category > a {
    color:#999;
    text-decoration: none;
}

.maps-balloon-list .category > a:hover {
    color:#666;
}

.maps-balloon-list .category ul {
    margin-left:10px;
    list-style:disc;
    padding-left: 10px;
    margin-bottom: 5px;
}


/* Балун на главной карте - 2ГИС */

.dg-popup__container .balloon-loading { background-image:url("../../images/maps/loader-black.gif") !important; }
.dg-popup__container .maps-balloon .title a { color:#FFF; }
.dg-popup__container .maps-balloon .address { color:#d4e6fc; }
.dg-popup__container .maps-balloon .details .contacts ul li,
.dg-popup__container .maps-balloon .details .contacts ul li a { color:#ECECEC; }
.dg-popup__container .maps-balloon .details .contacts ul li.phone { background-image:url("../../images/maps/icons/glyph-light-phone.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.url { background-image:url("../../images/maps/icons/glyph-light-url.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.skype { background-image:url("../../images/maps/icons/glyph-light-skype.png"); }
.dg-popup__container .maps-balloon .details .contacts ul li.email { background-image:url("../../images/maps/icons/glyph-light-email.png"); }

/* Балун на главной карте - BING */

.balloon-bing { background: #FFF; padding: 15px; padding-right:25px; box-shadow: 0 0 3px #000; white-space: nowrap; position:relative; }
.balloon-bing.balloon-loading { background-color: #FFF !important; padding:0; }
.balloon-bing a.close{
	display: block;
	width: 16px; height: 16px;
	background:url("../../images/maps/balloon-close.png") no-repeat center;
	position: absolute;
	right:5px;
	top:5px;
}

/* Контакты */

/* Редактирование категории */

#maps-category-marker .value {
	height:32px;
	line-height:32px;
}

#maps-category-marker .value .icon {
	width:32px;
	height:32px;
	border:solid 1px #B3C2C9;
	float:left;
	margin-right: 10px;
	background:no-repeat center;
}

#markers-gallery-window{
	display: none;
}
#markers-gallery{
	padding:15px;
	clear:both;
	overflow: hidden;
	width:500px;
}

#markers-gallery ul,
#markers-gallery ul li{
	list-style: none;
	margin:0; padding:0;
}

#markers-gallery ul li,
#markers-gallery ul li a {
	display: block;
	width:32px;
	height:32px;
}

#markers-gallery ul li{
	float:left;
	margin-right:4px;
	margin-bottom:4px;
	border: solid 1px #B3C2C9;
	background:no-repeat center #FFF;
}

#markers-gallery ul li:hover{
	background-color:#B3C2C9;
}

/* Страница объекта */
#maps-addresses > li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 15px;
}
#maps-addresses li:last-child {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.list-null.maps-addrs-addresses {
	  height: 320px;
	  overflow-y: auto;
	}
}
.maps-item-contacts {
  overflow: hidden;
  background-color: #e8e8e8;
  min-height: 300px;
  padding: 5px 0;
}

.maps-item-contacts .maps-mini-map{
	padding-right: 0;
}
@media (max-width: 767px) {
	.maps-item-contacts .maps-mini-map{
		padding-left: 0;
		margin-bottom: 10px;
	}
}

.maps-item-contacts .maps-mini-map .embed-link {
  background-color: #428bca;
  padding: 5px 0;
  text-align: center;
}

.maps-item-contacts .maps-mini-map .embed-link a {
    font-size:12px;
    color: #fff;
}

.maps-item-contacts .maps-mini-map #map-canvas {
	height: 340px;
}

.maps-addrs-title {
  background-color: #f80654;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 1.52857;
  margin: 0 0 10px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.maps-addrs-list .show-more-addrs { display:none; }

.maps-addrs-addresses .lslide {
  background-color: #fff;
  float: none !important;
  overflow: hidden;
  padding: 10px 15px;
  text-align: left;
}

.maps-addrs-list > ul > li a.addr.selected:after{
	content: " → ";
}

.maps-addrs-list > ul > li > .contacts {
	margin-top: 10px;
}

.maps-addrs-list > ul > li > .contacts ul,
.maps-addrs-list > ul > li > .contacts ul li {
	list-style: none;
	padding:0;
	margin:0;	
}

.maps-addrs-contacts ul li {
	margin-bottom: 4px;
}
.maps-addrs-contacts ul li a{
	display: flex;
	justify-content: space-between;
}
.maps-addrs-contacts ul li a:hover{
	text-decoration: none;
	color: #23527c;
}

.maps-addrs-contacts ul li .fontello, 
.maps-addrs-contacts ul li .glyphicon {
	color: #428bca;
}
.maps-addrs-list li .reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
  	font-size: 12px;
	margin:8px 0;
}

.maps-addrs-list .url {
  padding-left: 20px;
  position: relative;
  word-wrap: break-word;
}
.maps-addrs-list .glyphicon-globe {
  left: 0;
  position: absolute;
}

.maps-addrs-list li .reviews a:hover { color:#F60 }

#maps-item-rating {
  background-color: #f80654;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 10px 0;
}

#maps-item-rating .score {
  float: left;
  padding: 0 15px;
  min-width: 160px;
}

@media (min-width: 768px) {
	#maps-item-rating .score.total {
	  background-color: #383838;
	  margin: -10px 0;
	  padding: 10px 15px;
	}
	#maps-item-rating .score {
	  border-right: 1px solid #fff;
	}
	#maps-item-rating .score.total,
	#maps-item-rating .score:last-child {
		border-right: 0;
	}
}


#maps-item-rating .score .legend{
	font-size: 12px;
	color:#FFF;
}

/* Добавление/редактирование объекта */

#maps-markers-list {}

#maps-markers-list .marker-field {
	overflow: hidden;
	font-size:12px;
	margin-bottom:4px;
}

#maps-markers-list .marker-field:last-child{
	margin-bottom: 15px;
}

#maps-markers-list .marker-field div {
	float:left; margin-right: 10px; height:16px; line-height: 16px;
}
#maps-markers-list .marker-field a{
	margin-right:5px;
}

#maps-marker-form { padding:10px; }
#maps-marker-form #columns { width:770px; overflow: hidden; }
#maps-marker-form #columns .column { float: left; }
#maps-marker-form #columns .column:first-child { margin-right: 5px; }

#maps-marker-form #columns #map-canvas,
#maps-marker-form #columns #city-selection,
#maps-marker-form #columns #b-hours{
    width: 545px;
    height: 498px;
	border:solid 1px #CCC;	
}

#maps-marker-form #columns #map-canvas {
    background:url("../../images/maps/loader-white.gif") no-repeat center #ECECEC;
}

#maps-marker-form #columns #city-selection,
#maps-marker-form #columns #b-hours{
    display:none;
    padding:15px;
    width: 545px;
    height: 498px;
}

#maps-marker-form #columns #city-selection h2,
#maps-marker-form #columns #b-hours h2{
    margin-top:0;
}

#maps-marker-form #columns #city-selection .search-form{
    margin:0;
}

#maps-marker-form #columns #city-selection .search-form .legend{
    margin-bottom:5px;
}


#maps-marker-form #columns #city-selection #city-results {
	margin-top: 15px;
	height: 310px;
	overflow-y: auto;	
}

#maps-marker-form #columns #city-selection #city-exists .list{
	overflow:hidden;
	overflow-y:auto;
	max-height:350px;
}

.maps-city-list .item {
  border: 1px solid #f9f9f9;
  float: left;
  margin: 2px;
  padding: 8px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  width: 48%;
}

.maps-city-list .item:nth-child(2n+1) {
	clear:left;
}

.maps-city-list .item .name {
	font-size:14px; margin-bottom: 2px;
	color:#09c;
}

.maps-city-list .item:hover{	
	border: solid 1px #ddd;	
	cursor:pointer;
}

.maps-city-list .item:hover .name {
	color:#34495e;
	text-decoration: none;
}

.maps-city-list .item:hover .details {
	color:#68809B;	
}

.maps-city-list .item .details {
	color:#999;
	font-size:12px;
}

#maps-marker-form a#select-city.icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../../images/icons/edit.png") no-repeat left center;
	text-indent: -9999px;
	border: none;
	overflow: hidden;
}

#maps-marker-form fieldset input.error {
	border: solid 1px #c0392b;
}

#maps-marker-form .field {
	margin-bottom: 4px;
}

#maps-marker-form .field-link {
	height:26px;
	line-height:26px;
}

#maps-marker-form #buttons{
	margin-top:15px;
}

/* Отзывы */

.maps-review{
	padding: 20px 0;
	padding-bottom: 25px;
	border-bottom: solid 1px #ECECEC;
	overflow: hidden;
}

.maps-review:last-child{
	margin-bottom: 0;
	border-bottom:none;
}

.maps-review .head {
	overflow: hidden;
	margin-bottom:10px;
	font-size:12px;
}

.maps-review .head div {
	float:left; margin-right:10px;
	height:32px; line-height:32px;
	color:#95a5a6;
}
.maps-review .head .anchor a { color:#95a5a6; }
.maps-review .head .anchor a:hover { color:#F60; }

.maps-review .addr {
	margin:10px 0;
	margin-top:20px;
	font-size:12px;
	color:#34495e;
}

.maps-review .addr a {
	font-weight: bold;
	color:#34495e;
}

.maps-review .addr a:hover {
	color:#F60;
}

.maps-review .content {
	line-height: 20px;
}

.maps-review .cropped .text {
	height: 120px;
	overflow: hidden;
	position: relative;
}

.maps-review .cropped .cropper {
	background:url("../../images/maps/cropper.png") repeat-x;
	height:30px;
	width:100%;
	position: absolute;
	top:90px;
}

.maps-review .ratings {
  display: flex;
  margin-bottom:10px;
}

.maps-review .ratings .score {
  margin-right: 20px;
  display: flex;
  align-items:center;
}

.maps-review .ratings .score:last-child {
	margin-right:0;
}

.maps-review .ratings .score .legend {
	font-size:12px;
	float:left;
	margin-right: 10px;
	height: 16px;
	line-height: 16px;
	color:#95a5a6;
}

.maps-review .actions {
	font-size:12px;
	margin-top:10px;
	float: right;
}

.maps-review .content .answer{
	background:#ecf0f1;
	padding:10px 15px;
	border-left:solid 4px #bdc3c7;
	margin-left:40px;
	margin-top: 10px;
	color:#7f8c8d;
}

.maps-review .content .answer .title{
	margin-bottom: 5px;
	color:#34495e;
	font-size:12px;
	font-weight: bold;
}

.maps-review .content .answer .title span {
	font-weight: normal;
	padding-left: 5px;
}

.maps-review .actions a {
	padding-left:18px;
	margin-right:10px;
	background:no-repeat left center;
	height:16px;
	line-height:16px;
	display:inline-block;
}
.maps-review .actions .answer { background-image:url("../../images/icons/comment.png"); }
.maps-review .actions .edit { background-image:url("../../images/icons/edit.png"); }
.maps-review .actions .delete { background-image:url("../../images/icons/delete.png"); }

.maps-entries-list .filter-panel {
	padding:10px; overflow:hidden;
	margin-bottom: 0;
}
.maps-entries-list .filter-panel .field,
.maps-entries-list .filter-panel .field .title,
.maps-entries-list .filter-panel .field .control {
	float:left;
	height:25px;
	line-height:25px;
}
.maps-entries-list .filter-panel .field { margin-right: 10px; }
.maps-entries-list .filter-panel .field:last-child { margin-right: 0; }
.maps-entries-list .filter-panel .field .title { margin-right:10px; color:#68809B; }
.maps-entries-list .filter-panel .field .addr { width:320px; }
.maps-entries-list .filter-panel .field .sort { width:200px; }

.maps-entries-list .subfilter-panel {
	padding:8px 10px;
	margin-top: 5px;
	margin-bottom: 0;
	color:#68809B;
}

.maps-entries-list .subfilter-panel span {
	padding-right:10px;
}

/* Просмотр отзыва */



/* Звездный рейтинг */

.maps-star-rating { overflow: hidden; min-width: 60px; }

.maps-star-rating ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.maps-star-rating .star {
	float:left;
	display:block;
	width:16px;
	height:16px;
	background:url("../../images/maps/stars.png") no-repeat 0 0;
}

.maps-star-rating.red .star {
	background-image: url("../../images/maps/stars-red.png");
}

.maps-star-rating.small .star {
	width:12px;
	height:12px;
	background-image: url("../../images/maps/stars-small.png");
}

.maps-star-rating .full { background-position: 0 -16px; }
.maps-star-rating .half { background-position: 0 -32px; }

.maps-star-rating.small .full { background-position: 0 -12px; }
.maps-star-rating.small .half { background-position: 0 -24px; }

.maps-star-rating .value { margin-left: 5px; font-weight: bold; color: #fff; }

/* Новости и cобытия */
.list-event-date {
	color: #777777;
	font-size: 12px;
	margin-bottom: 0;
}
.list-event-date .glyphicon {
	color:#0b99bc;
}

/* Смена владельца */

#maps-place-owner .owner h3{
	margin-bottom: 15px;
}

#maps-place-owner .owner .user {
	overflow:hidden;	
}

#maps-place-owner .owner .user div {
	float:left;
	height:32px;
	line-height:32px;
}

#maps-place-owner .owner .user .avatar{
	margin-right:10px;
}

#maps-place-owner .find .field{ margin: 0; }

#maps-place-owner .find .input {
	width:250px;
}

.ui-autocomplete-loading {
    background:url("../../images/loader16.gif") no-repeat right center;
}

/* Код вставки карты на свой сайт */
#maps-embed-code-form {
    padding:10px;
    width: 500px;
}

#maps-embed-code-form textarea {
    height:80px;
}

#maps-embed-code-form .buttons {
    text-align:center;
}


/********* Стили Atid-Gorec **********/
/*************************************/

/* Список объектов */
.places_list {
  background-color: #e8e8e8;
  margin: 0 -15px -10px;
}
.maps_list_item {
  background-color: #fff;
  position: relative;
}

.maps_list_fields {
  overflow: hidden;
  position: relative;
}
.maps_list_fields_child {
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 10px;
}
.maps_list_title {
  color: #0b99bc;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
.maps_list_addrs {
  color: #888;
}
.maps_list_addrs .glyphicon {
  color: #0b99bc;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.maps_list_info {
  border-top: 1px solid #e8e8e8;
  bottom: 0;
  padding: 5px 10px 5px 15px;
  right: 0;
  width: 100%;
  font-size:12px;
}
.maps_list_info .bar_item {
  display: table-cell;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
  position: relative;
  text-align: center;
}
.maps_list_info .bar_item::after {
  content: "";
  display: block;
  height: 30px;
  border-right: 1px solid #e8e8e8;
  margin-top: -15px;
  position: absolute;
  left: 0;
  top: 50%;
}
.bar_item.maps_list_avatar:after,
.bar_item.bi_user:after {
	border-right: 0 !important;
}
.bar_item.maps_list_avatar {
  padding: 0;
}
.maps-avatar-circle {
  border: 3px solid #0b99bc;
  border-radius: 50%;
  color: rgb(11, 153, 188);
  display: inline-block;
  height: 36px;
  width: 36px;
}
.maps-avatar-circle .default_avatar,
.maps-avatar-circle img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.maps_list_comments .glyphicon {
  color: #0b99bc;
}

@media (max-width: 767px) {
	.maps-list-photo {
	  background-image: none !important;
	  display: block;
	  padding: 15px 15px 5px;
	}
	.maps-list-no-img {
		display: none;
	}
	.maps_list_info {
		margin-top: 5px;
	}
}

@media (min-width: 768px) {
	.maps-list-photo {
		display: table-cell;
		vertical-align: top;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.maps-list-photo span {
		display: block;
		width: 250px;
	}
	.maps_list_fields {
	  	width: 10000px;
	  	display: table-cell;
	  	vertical-align: top;
	}
	.maps-list-photo img{
		display: none;
	}
	.maps_list_title {
	  height: 23px;
	  overflow: hidden;
	}
	.value_text {
		height: 40px; 
		display: block; 
		overflow: hidden;
	}
	.maps_list_fields_child {
	  padding-left: 20px;
	  padding-bottom: 60px;
	  min-height: 160px; 
	}
	.maps_list_info {
	  padding-left:20px;
	  position: absolute;
	}
	.list-null.places-cat-nav {
	  display: flex;
	  flex-wrap: wrap;
	}
	.list-null.places-cat-nav > li {
	  max-width: 33.333%;
	  flex: 1 1 33.333%
	}
}
@media (min-width: 992px){
	.two-aside .maps_list_info .maps_list_comments,
	.two-aside .maps_list_info .bi_user {
		display: none;
	}
	.two-aside .bar_item.maps_list_avatar {
	  padding-right: 10px;
	}
	.two-aside .maps-list-photo span{
		width: 220px;
	}
}
@media (min-width: 1170px){
	.two-aside .maps-list-photo span{
		width: 250px;
	}
}
@media (max-width: 480px){
	.two-aside .maps_list_info .maps_list_comments,
	.two-aside .maps_list_info .bi_user {
		display: none;
	}
	.two-aside .bar_item.maps_list_avatar {
	  padding-right: 10px;
	}
}
.list-null.places-cat-nav a {
  color: #383838;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 2px;
}
.places-cat-title {
  padding-bottom: 4px;
  padding-left: 4px;
}
.list-null.places-cat-nav a:hover {
	color: #d40e52;
	text-decoration: none;
}

.places-cat-nav .glyphicon {
  background: #ff0356 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  height: 21px;
  margin: 0 4px 0 3px;
  padding: 4px 0 4px 2px;
  position: relative;
  text-align: center;
  width: 20px;
}
.places-cat-nav .glyphicon::after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #ff0356;
  bottom: -3px;
  color: #000;
  content: "";
  left: 7px;
  position: absolute;
}

/* .maps-star-rating*/
.maps-star-rating .glyphicon {
  top: 2px;
}
.white .glyphicon {
  color: #fff;
}
.half.glyphicon-star-empty:after {
  content: "\e006";
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 46%;
}

.rating-block::after {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.ratings-review {
  border-bottom: 1px solid #f3f3f3;
  margin: -5px -15px 0;
  padding: 0 15px 5px;
}
.ratings-review .glyphicon {
  color: #d40e52;
}


#maps-marker-form fieldset {
  margin-bottom: 10px;
  padding: 0 5px;
}

#maps-marker-form fieldset legend {
	margin-bottom: 10px;
}

.col-sm-7 + script + .margin-l15 ul{
	position: relative;
	left: 15px;
}


#map-canvas .maps-contacts-list li{
  display: block;
}
#map-canvas .media-body {
  width: auto; 
}


@media (max-width: 767px) {
	.board-photo {
	  margin: 0 auto 20px;
	  max-width: 100%;
	  width: 400px;
	}
}

@media (min-width: 768px) {
	.board-photo {
	  float: left;
	  margin-right: 20px;
	  margin-bottom: 5px;
	}
	.board-photo-big {
	  max-height: 250px;
	  max-width: 280px;
	  overflow: hidden;
	}
	.board-photo-big > img {
	  display: block;
	  max-height: 100%;
	  max-width: 100%;
	}
	.props-item,
	.board_item_props > .props-info {
		width: 33.3333%;
		float: left;
	}
}
.board-Gallery {
	width: 370px;
}

.board-Gallery .lSGallery,
.board-Gallery .lSGallery li {
	overflow: visible !important;
}

.board-Gallery .lSGallery li {
  	padding: 2px;
  	transition: all 0.2s linear 0s;
   	box-shadow: 0 0 0 3px #fff inset;
}
.board-Gallery .lSGallery li.active, 
.board-Gallery .lSGallery li:hover {
  box-shadow: 0 0 0 3px #d40e52 inset;
}

.board-Gallery .lSGallery li.active::after {
  border-color: transparent transparent #d40e52;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: -8px;
}
.board-Gallery .vertical .lSGallery li.active:after {
	border-color: transparent #d40e52 transparent transparent;
	top: 22px;
	left: -8px;
	margin: 0;
}

@media (max-width: 400px) {
	.board-Gallery {
		width: 100%;
	}
}
@media (max-width: 768px) {
	#imageGallery .lSSlideWrapper,
	.lslide {
		height: 246px;
	}
}
.board-photo-big:before,
.board-Gallery .lslide:before {
  bottom: 7px;
  color: #d40e52;
  content: "\e096";
  cursor: pointer;
  font-family: "Glyphicons Halflings";
  position: absolute;
  right: 11px;
}

.board-Gallery .lSSlideOuter .lSPager.lSGallery {
	margin-left:auto;
	margin-right:auto;
}
/* Окно часов работы */
#maps-bhours-window {
    padding:20px;
}
#maps-bhours-window h2,
#maps-bhours-window h3 {
    margin: 0;
}

#maps-bhours-window h2{
    margin-bottom: 5px;
}

#maps-bhours-window .days{
    margin-top:15px;
}

#maps-bhours-window .days .cell-day,
#maps-bhours-window .days .cell-hours {
    padding:15px;
}

#maps-bhours-window .days .today td {
    font-weight: bold;
    color:#2980b9;
}

#maps-bhours-window .days .cell-day {
    background:#ecf0f1;
    border-right: solid 1px #bdc3c7;
}
.maps-news-entry .media-left img{
  width: 64px;
  max-width:none;
}
.maps-entries-list .gui-panel{
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.nav-filtr > .active > time {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #31a1d9;
}