/***скроллбар***/
.scroll-wrapper{overflow:hidden!important;padding:0!important;position:relative}.scroll-wrapper>.scroll-content{border:none!important;box-sizing:content-box!important;height:auto;left:0;margin:0;max-height:none;max-width:none!important;overflow:scroll!important;padding:0;position:relative!important;top:0;width:auto!important}.scroll-wrapper>.scroll-content::-webkit-scrollbar{height:0;width:0}.scroll-element{display:none}.scroll-element,.scroll-element div{box-sizing:content-box}.scroll-element.scroll-x.scroll-scrollx_visible,.scroll-element.scroll-y.scroll-scrolly_visible{display:block}.scroll-element .scroll-arrow,.scroll-element .scroll-bar{cursor:default}.scroll-textarea{border:1px solid #ccc;border-top-color:#999}.scroll-textarea>.scroll-content{overflow:hidden!important}.scroll-textarea>.scroll-content>textarea{border:none!important;box-sizing:border-box;height:100%!important;margin:0;max-height:none!important;max-width:none!important;overflow:scroll!important;outline:0;padding:2px;position:relative!important;top:0;width:100%!important}.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar{height:0;width:0}.scrollbar-macosx>.scroll-element,.scrollbar-macosx>.scroll-element div{background:0 0;border:none;margin:0;padding:0;position:absolute;z-index:10}.scrollbar-macosx>.scroll-element div{display:block;height:100%;left:0;top:0;width:100%}.scrollbar-macosx>.scroll-element .scroll-element_track{display:none}.scrollbar-macosx>.scroll-element .scroll-bar{background-color:#6C6E71;display:block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .2s linear;-ms-transition:opacity .2s linear;transition:opacity .2s linear}.scrollbar-macosx:hover>.scroll-element .scroll-bar,.scrollbar-macosx>.scroll-element.scroll-draggable .scroll-bar{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:alpha(opacity=85);opacity:.85}.scrollbar-macosx>.scroll-element.scroll-x{bottom:0;height:0;left:0;min-width:100%;overflow:visible;width:100%}.scrollbar-macosx>.scroll-element.scroll-y{height:100%;min-height:100%;right:0;top:0;width:0}.scrollbar-macosx>.scroll-element.scroll-x .scroll-bar{height:7px;min-width:10px;top:-9px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-bar{left:-9px;min-height:10px;width:7px}.scrollbar-macosx>.scroll-element.scroll-x .scroll-element_outer{left:2px}.scrollbar-macosx>.scroll-element.scroll-x .scroll-element_size{left:-4px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-element_outer{top:2px}.scrollbar-macosx>.scroll-element.scroll-y .scroll-element_size{top:-4px}.scrollbar-macosx>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{left:-11px}.scrollbar-macosx>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{top:-11px}
/***меню***/
#body section, #breadcrumbs{
    position: relative;
}
#body .linked_menu.menu_options {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
#body .linked_menu .menu {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
#body .linked_menu .menu li {
    float: left;
    margin: 0;
    padding: 0;
    height: auto;
    line-height: inherit;
}
#body .linked_menu.menu_options > .body {
    padding: 0;
}
#body .linked_menu .menu .item{
    background-image: none;
}
#body .linked_menu .menu li.active .item {
    color:#000;
}
#body .linked_menu .menu a,
#body .linked_menu .menu span.item {
    background: #95a5a6;
    border-right: 1px solid #ecf0f1;
    color: #fff;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 6px 8px;
    text-decoration: none;
}
#body .linked_menu .menu li:last-child a,
#body .linked_menu .menu li:last-child span.item {
    border-right: none;
}
#body .linked_menu .menu a:hover {
    color:#FFF;
    background: #16a085;
}
#body .linked_menu .menu .counter{
    float:right;
    padding: 0px 7px;
    background: #376499;
    border-radius: 50px;
    font-size: 11px;
    color: white;
}
#body .linked_menu .menu li:hover .counter{
    background:#BDC3C7;
}
#body .linked_menu .menu .save .item {
    background: #2980b9;
}
#body .linked_menu .menu .save .item:hover {
    background: #3498db;
}
/***категории***/
.video_cats {
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 33.3333%;
    float: left;
}

.video_cat_cover {
    background-color: #bdc3c7;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 200px;
    transition:opacity 0.2s linear;
}

/**** добавление видео ****/
.add_video_types {
    background-color: #95a5a6;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    margin: 10px 0;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}
.add_video_types:hover {
    background-color: #bdc3c7;
    color: #FFF;
}
.add_video_types > span {
    padding: 0 5px 0 35px;
}
.add_file{
    background-image: url("../../images/video/add_file.png");
}
.add_link{
    background-image: url("../../images/video/add_link.png");
}
.add_code{
    background-image: url("../../images/video/add_code.png");
}
.add_parse{
    background-image: url("../../images/video/add_parse.png");
}
#available_countries, #stars {
    border: 1px solid #ccc;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFF;
}

#start-upload-button-single {
    display: inline-block;
    margin: 65px 0 20px;
}
#upload-button-text {
    color: #444;
    display: block;
    font-weight: normal;
    margin: 15px 0 9px;
}
#upload-drag-drop-description {
    font-size: 24px;
    font-weight: normal;
    padding: 7px;
}
.upload-widget {
    position: relative;
    width: 100%;
    padding: 15px;
    font-size: 100%;
}
#upload-prompt-box {
    min-height: 355px;
    text-align: center;
}
.video-upload-button {
    background-color: #2ecc71;
    background-image: url("../../images/video/upload_icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    opacity: 0.8;
    padding: 10px;
    width: 128px;
}
.video-upload-button:hover {
    background-color: #27ae60;
    opacity: 0.9;
}
.upload-widget .qq-upload-drop-area {
    background-color: #2ecc71;
    color: #FFF;
}
.upload-widget .qq-upload-drop-area span {
    font-size: 18px;
    margin-top: -9px;
}
.upload-widget .qq-upload-drop-area-active {
    background-color: #d35400;
}
.upload-widget .qq-upload-list {
    height: 100%;
    list-style: outside none none;
    margin: 0;
}
.upload-widget .qq-upload-list > li {
    background: #ecf0f1;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.progress {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.progress-bar {
    background: #27ae60;
    float: left;
    height: 100%;
    transition: width 0.6s ease 0s;
    width: 0;
}
.percent_count {
    color: #fff;
    font-size: 20px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: inherit;
}
.upload-widget .qq-upload-list > li > span {
    display: none !important;
}
.upload-widget .qq-upload-cancel {
    background: #95a5a6;
    color: #fff;
    margin: 0;
    opacity: 0.8;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 1;
    border: 0;
    cursor: pointer;
}
.upload-widget .qq-upload-cancel:hover {
    background: #7f8c8d;
    color: #FFF;
}
#privacy_select select {
    width: 37%;
}
#privacy_select > div:last-child {
    margin: 10px 0 0;
}
.tabs-menu .tab fieldset {
    border-top: none;
    margin: 0;
}
.tabs-menu #f_is_private.private_pined {
    position: absolute;
    right: 0;
    top: 0;
}
.tabs-menu #f_is_private.private_pined label {
    display: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    padding: 0;
    border: none;
}
.tabs-menu #f_is_private.private_pined > select {
    width: 200px;
}
#form-tabs > ul + #fset_video_edit_data {
    display: none;
}
.edit_movie_form > div h3 {
    margin-top: 0;
}
.edit_movie_form dt {
    clear: left;
    float: left;
    font-size: 12px;
    width: 35%;
}
.edit_movie_form dl {
    margin: 0;
}
.edit_movie_form dd {
    color: #000000;
    float: left;
    font-size: 12px;
    padding: 0px 0px 4px;
}

.video_preview {
    width: 55%;
}
.video_edit_info, .overflow {
    overflow: hidden;
    position: relative;
}


.video_edit_info > div {
    margin: 0 0 0 20px;
}

.video_preview h3 {
    padding: 0 10px;
    color: #FFF;
}

.height100 {
    height: 100%;
    overflow: hidden;
}
.edit_movie_form {
    margin: 0 0 20px;
}

.tabs-menu > ul {
    position: relative;
}
.player_not_ready {
    text-align: center;
}
.player_not_ready h3 {
    margin-top: 10px !important;
}
#run_conversion {
    background: #7f8c8d;
}
#process_conversion {
    background: #34495e;
}
#show_loader {
    background: #000;
}
#blocked_only {
    background: #c0392b;
}
/***** круговой таймер *****/
.timer {
    position: relative;
    font-size: 180px;
    width: 1em;
    height: 1em;
    display: inline-block;
    box-sizing: border-box;
}
.timer>.percent {
    color: #ecf0f1;
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align: center;
}
.timer>#slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
}
.timer>#slice.gt50 {
    clip: rect(auto, auto, auto, auto) !important;
}
.timer>#slice>.pie {
    border: 0.1em solid #f39c12;
    position: absolute;
    width: 0.8em; /* 1 - (2 * border width) */
    height: 0.8em; /* 1 - (2 * border width) */
    clip: rect(0em, 0.5em, 1em, 0em);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    transition: transform 0.6s ease 0s;
    box-shadow: 0 0 1px #f39c12;
}
.timer>#slice>.pie.fill {
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.timer.fill>.percent {
    display: none;
}
.timer.fill>#slice>.pie {
    border: transparent;
    background-color: #f39c12;
    width: 1em;
    height: 1em;
}

.prewiew_list {
    height: 95px;
    overflow: hidden;
    position: relative;
}
.prewiew_list > div {
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    margin: 0 2px 0 0;
    background-position: top center;
}
.thumbnail-overlay {
    background: #2c3e50;
    color: #fff;
    display: none;
    font-size: 12px;
    height: inherit;
    opacity: 0.7;
    padding: 30% 0 0;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
}
.prewiew_list:hover .thumbnail-overlay, .prewiew_list.selec .thumbnail-overlay {
    display: block;
    cursor: pointer;
}
.grabbing .prewiew_list .thumbnail-overlay {
    opacity: 0;
}
.or_title {
    line-height: 20px;
    margin: 10px 0 0;
    overflow: hidden;
}
.or_title > div {
    border-bottom: 1px solid rgb(232, 232, 232);
    margin: 10px 0 0;
}

.or_title b {
    background: #fff;
    display: table;
    margin: -12px auto 0;
    padding: 0 10px;
}
.poster_file {
    direction: ltr;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 13px;
}
.poster_img > img {
  display: none
}

.file_wrap {
    margin: 10px 0 0;
}
.poster_file > input {
    cursor: pointer;
    font-size: 118px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.poster_file:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #EDEDED 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#f9f9f9');
	background-color:#EDEDED;
}
/*** обертка для плера **/
#player_wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clear: both;
}
#player_container{
    padding: 0;
    overflow: hidden;
    position: relative;
}
.tabs-menu #player_container li {
    float: none;
    margin-right: auto;
    background: transparent;
}
.duration {
    background: #7f8c8d;
    bottom: 0;
    color: #fff;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    opacity: 0.9;
}
.video_tumb_block .duration {
    font-size: 0.8em;
    padding: 2px 4px;
}
.player_play{
    position: absolute;
    cursor: pointer;
    height: 76px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -50px;
    box-shadow: 4px 4px 20px #000000;
    opacity: 0.85;
    border-radius: 3px;
    background: url("../../images/video/play_button_spr.png") no-repeat scroll 10px -2px #000;
}
.video_tumb_block img {
    visibility: hidden;
}
#player_wrap:hover .player_play{
    opacity: 0.95;
    background: url("../../images/video/play_button_spr.png") no-repeat scroll 10px -82px #000;
}
.player_play_loading{
    position: absolute;
    height: 76px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -50px;
    background: url("../../images/video/loader.gif") no-repeat scroll 20px 0px transparent;
}
#run_conversion .player_play_loading {
    background: url("../../images/video/loader_7f8c8d.gif") no-repeat scroll 20px 0px transparent;
}
.play_error {
    background: #d35400;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin: -10px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.error_player_wrap {
    background: #7f8c8d;
    color: #fff;
    height: inherit;
    text-align: center;
    width: inherit;
}
.error_player_wrap > h3 {
    color: #f1c40f;
    margin: 0 !important;
    padding: 15% 0 0;
    font-size: 20px;
}
.error_player_wrap a {
    color: #fff;
}
.error_player_wrap a:hover {
    text-decoration: none;
}
.flash-upgrade {
    color: #a3b1b2;
    height: 100%;
    padding: 40px 10px;
    text-align: center;
}
.flash-upgrade a {
    color: #a3b1b2;
}
.flash-upgrade a:hover {
    color: #f39c12;
    text-decoration: none;
}
.jwlogo, .jwclick {
    display: none !important;
}
.poster_img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
#movie_embed_title {
    background: #000;
    font-size: 0.9em;
    height: 31px;
    line-height: 31px;
    opacity: 0.8;
    padding: 0 0 0 7px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 29;
    transition: top 0.2s ease 0.2s;
    box-sizing: border-box;
}
#player_wrap .movie_embed_title_autohide {
    top: -31px;
}
#player_wrap:hover .movie_embed_title_autohide {
    top: 0;
}
#pl_icon {
    float: left;
    margin: 0 7px 0 0;
    color: #FFF;
    font-size: 1.5em;
    line-height: 32px;
    cursor: pointer;
}
#pl_icon:hover {
    color: #f1c40f;
}
#pl_icon b {
    font-size: 0.7em;
    float: right;
    margin: 0 0 0 4px;
}
#list_embed_playlist {
    left: -500px;
    top: 0;
    z-index: 30;
    position: absolute;
    opacity: 0.95;
}
#movie_embed_title a {
    color: #fff;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#movie_embed_title a:hover {
    text-decoration: underline;
}
.player_share, .player_share_close {
  background: transparent url("../../images/video/play_button_spr.png") no-repeat scroll 2px -173px;
  cursor: pointer;
  height: 30px;
  opacity: 0.9;
  padding: 3px 7px 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: top 0.2s ease 0.2s;
  width: 26px;
  z-index: 31;
}
.player_share_close {
    background: transparent url("../../images/video/play_button_spr.png") no-repeat scroll -51px -173px;
}
.share_info{
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 30;
}
#embed_video_body .share_code label.inline {
    font-size: 0.84em;
}
#embed_video_body #watch-appbar-playlist {
    width: 400px;
}
.share_code {
    color: #fff;
    margin: 4% 6% 0;
    overflow: hidden;
}
.video_tumb_block .share_code {
    margin: 5px 15px;
    font-size: 0.95em;
}
.video_tumb_block .share_code textarea {
    font-size: 0.9em;
    height: 55px;
}
.share_code textarea {
    height: 90px;
    margin: 0;
    outline: 0 none !important;
    overflow: auto;
    resize: vertical;
}
#share-embed-customize .btn-danger {
    border-color: #d9534f;
}
#share-embed-customize .btn-danger:hover {
    border-color: #c9302c;
}
#ads_skip {
    color: #FFF;
    background: #111;
    font-size: 14px;
    z-index: 40;
    padding: 5px;
    opacity: 0.8;
    display: none;
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 0.9em;
}
.skip_link {
    cursor: pointer;
}
#ads_skip:hover {
    opacity: 1.0;
}
#ads_skip > img {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
}
#ads_skip > img:not(.hid) + span {
    float: left;
    margin: 7% 0 0;
    width: 66px;
}
#ads_top {
    color: #fff;
    left: 0;
    padding: 3px 6px;
    position: absolute;
    top: 0;
    z-index: 35;
}
.ad_title {
    bottom: 0;
    color: #fff;
    display: block;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
    font-size: 0.9em;
}
.ad_title:hover {
    color: #CCC;
    text-decoration: none;
}
.ads_body {
    overflow: hidden;
}
.ads_body > .html_ad{
    overflow: hidden;
    margin: 2%;
    color: #CCC;
}
/**** разное ****/
.menu .download .item {
    background-image: url("../../images/icons/download.png");
}
.hid {
    display: none;
}
.redactor-toolbar li a {
    height: auto;
    line-height: normal;
}
.redactor-toolbar li {
    background: none;
    font-size: inherit;
}
.clear_both {
    clear: both;
    overflow: hidden;
    position: relative;
}
.not_found {
    color: #777;
    line-height: 200%;
    padding: 50px 10px;
    text-align: center;
}
.filter-panel .buttons .button-submit {
    border-radius: 0;
}
.is_hd {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 0.9em;
  padding: 0 5px;
}
.full .is_hd {
    font-size: 1.8rem;
}
.page_player {
    height: 380px;
    width: 100%;
}
.full {
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%;
}
.userav {
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  width: 60px;
  height: 60px;
display: block;
}
.user-box img {
    width: 100%;
    display: block;
}
.user-box h3 {
    display: block;
    margin: 0 0 6px;
    line-height: 19px;
    font-size: 14px;
}


.bottom10 {
    padding-bottom: 10px !important;
}
.top10 {
    padding-top: 10px !important;
}
.nomargin {
    margin: 0 !important;
}
.float_left {
    float: left;
    position: relative;
}
.float-right {
    float: right;
    position: relative;
}
.user-box h3 > a {
    color: rgb(11, 153, 188);
    text-decoration: none;
}
.user-box h3 > a:hover {
    text-decoration: underline;
}
.user-box h3 span {
    color: #888;
    font-size: 0.8em;
}
.subscribe, .unsubscribe {
  background-color: rgb(11, 153, 188);
  color: #fff !important;
  padding: 5px 8px;
  text-decoration: none !important;
}
.unsubscribe .fa-square-o {
    display: none;
}
.subscribe .fa-check-square-o {
    display: none;
}
.subscribe:hover, .unsubscribe:hover {
  background-color: rgb(11, 148, 174);
  color: #fff;
  text-decoration: none;
}
.subscribers:hover .count-subscribers::after {
  border-color: transparent rgb(11, 148, 174);
}
.count-subscribers {
  background-color: rgb(59, 59, 59);
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  margin-left: 0;
  padding: 7px 8px;
  text-align: center;
  position: relative;
}
.count-subscribers::after {
  border-color: transparent rgb(11, 153, 188);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: "";
  left: 0;
  position: absolute;
  top: 11px;
}
.like-box {
    position: relative;
    width: 140px;
}
.like-box .like-views {
    font-size: 1.1em;
    text-align: right;
}
.watch-sparkbars {
	background:#bdc3c7 ;
    height: 2px;
    margin: 3px 0;
    border-radius: 2px;
    overflow: hidden;
	clear:both;
	width:100%;
}
.watch-sparkbar-likes {
    background: #27ae60;
    float: left;
    height: inherit;
}
.watch-sparkbar-dislikes {
    background: #e74c3c;
    float: right;
    height: inherit;
}
.like-show .rating_widget {
    text-align: center;
}
.like-show .rating_widget > div {
    display: inline-block;
    float: none;
    height: 13px;
    line-height: 13px;
}
.content_item .info_bar .tags_bar {
    margin: 0 0 0 4px;
    padding-left: 20px;
}
#comments_widget #comments_add_link a {
    font-size: inherit;
}
.video_item .nav-tabs {
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: inherit;
}
.video_item .nav-tabs > li > a:hover, .video_item .nav-tabs > li.active > a {
  border-color: transparent transparent rgb(11, 153, 188);
  border-radius: 0;
  color: #2980b9;
}
.video_item .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.video_item .nav-tabs > li > a {
  color: #2c3e50;
  display: block;
  margin-right: 20px;
  padding: 4px 0;
  text-decoration: none;
}
.loading {
    padding-left: 20px !important;
}
#import_providers_wrap * {
    display: block;
}
#import_providers_wrap > a {
    float: left;
    margin: 0 12px 12px 0;
    overflow: hidden;
    position: relative;
}
#import_providers_wrap > a:last-child {
    margin: 0;
}
.import_provider {
    background-position: center center;
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
}
.import_provider > span {
    background: #666;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.8;
    padding: 3px 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.import_provider:hover > span {
    opacity: 1.0;
}
#import_providers_wrap > a.selected_provider > span {
    height: 100%;
    opacity: 0.8;
    padding: 0;
}
#import_providers_wrap > a.selected_provider .fa {
    display: block;
}
#import_providers_wrap > a .fa {
    color: #ecf0f1;
    font-size: 50px;
    left: 50%;
    line-height: 50px;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    display: none;
}
.video_tumb_block {
    position: relative;
    width: 200px;
    height: inherit;
    height: 170px;
}
.video_tumb_block > a {
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: inherit;
    overflow: hidden;
    position: relative;
    transition: opacity 0.1s ease 0s;
}
.video_tumb_block > a > .fa.fa-play-circle-o, .widget_video_wrap > a > .fa.fa-play-circle-o {
    background: #ecf0f1;
    border-radius: 20%;
    color: #e74c3c;
    font-size: 60px;
    left: 50%;
    line-height: 60px;
    margin: -30px -36px;
    opacity: 0;
    padding: 0 12px;
    position: absolute;
    top: 50%;
    transition: opacity 0.1s ease 0s;
}
.video_tumb_block > a:hover {
    opacity: 0.9;
}
.video_tumb_block > a:hover > .fa.fa-play-circle-o, .widget_video_wrap  > a:hover > .fa.fa-play-circle-o {
    opacity: 0.7;
}
.video_parse_list {
    height: 140px;
    margin: 0 0 10px 0;
}
.video_parse_list:last-child {
    margin: 0;
}
.video_list_item {
    margin: 0 0 15px 0;
}
.video_list_item:last-child {
    margin: 0;
}
.video_text_block {
  min-height: 170px;
  padding-bottom: 30px;
}
.video_text_block .info_bar {
    margin: 0;
}

.video_text {
    height: inherit;
    padding: 0 10px;
    width: 90%;
}
.trailer-info-bar li{
  border-left: 1px solid transparent;
  color: #3b3b3b;
}
.trailer-info-bar li:first-child {
    padding-left: 0;
}
.video_text > h3 {
  margin: 5px 0;
}
.video_text > h3 a:hover {
    text-decoration: underline;
}
.parse_action:hover {
    background: #d35400;
    color: #FFF;
}
.parse_action, .success_parse_block {
    background: #e88732;
    color: #fff;
    cursor: pointer;
    display: table-cell;
    font-size: 1.5em;
    height: inherit;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 10%;
}
.success_parse_block {
    cursor: default;
    background: #2ecc71;
}
.success_parse_block:hover {
    color: #FFF;
}

#import_wrapform_data fieldset {
    background: #f4f8fd;
}
.sortable_list + #show_more_block {
    margin: 15px 0 0 0;
}
#show_more_block {
    background: #d8dee4;
    color: #6A7989;
    padding: 4px 0;
    text-align: center;
    cursor: pointer;
}
#show_more_block:hover {
    background: #4f7cb3; color: #FFF;
}
#import_wrapform_data > span {
    color: #3498db;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 4px;
}
#import_wrapform_data > span:hover {
    color: #2980b9;
}
.hide_form > div {
    display: none;
}
#import_wrapform_data.hide_form > span {
    position: relative;
    right: auto;
    top: auto;
}
#import_wrapform_data > span > span {
    display: none;
}
#import_wrapform_data.hide_form > span > span {
    display: inline-block;
}
.success_parse_form {
    padding: 10px 25px 10px 10px;
}
.success_parse_form > div {
    width: 820px;
    min-height: 460px;
}
#set-coordinates-form #map-canvas {
    height: 500px;
    width: 800px;
}
#set-coordinates-form .buttons {
    margin: 10px 0;
    text-align: center;
}
.hint > img {
    margin: 5px 0 0;
}
.video_datagrid {
    width:100%;
}
.video_datagrid th {
    height: 30px;
    line-height: 30px;
    padding:0 0 0 10px;
    border-bottom: solid 1px #B3C2C9;
    text-align: left;
    background: #B3C2C9;
}

.video_datagrid th.center,
.video_datagrid td.center{
    padding:0 10px;
    text-align: center;
}
.video_datagrid td {
    padding:5px 10px;
    background: #fff;
    color:#34495e;
    height:20px;
    position: relative;
}
.video_datagrid tr.odd td {
    background: #f9f9f9;
}
.video_datagrid tr:hover td {
    background: rgb(233,246,253);
}
.video_datagrid + .buttons {
    margin: 10px 0 0;
}
form .video_datagrid .field_error .error_text {
    position: absolute;
    right: 30px;
    top: 3px;
    background: #FFF;
}
.replay {
    background: #34495e;
    box-shadow: 0 0 45px #34495e;
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    left: 50%;
    line-height: 50px;
    margin: -25px 0 0 -37px;
    opacity: 0.95;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
}
.replay:hover {
    background: #2c3e50;
    color: #f39c12;
}
.related_title {
    background: #000;
    color: #fff;
    opacity: 0.8;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.widget_video_wrap {
    float: left;
    height: 33.333%;
    position: relative;
    width: 33.333%;
    overflow: hidden;
}
.widget .widget_video_wrap {
    display: table-cell;
    height: 150px;
    box-sizing: border-box;
    padding: 0 10px 10px 0;
}
.widget .widget_video_wrap:nth-child(3n+3) {
    padding-right: 0;
}
.widget .widget_video {
    margin-bottom: -10px;
}
aside .widget_video .widget_video_wrap {
    height: 140px;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
}
.widget_video .widget_video_wrap > a {
    margin: 0 !important;
}
.widget_video_wrap > a {
    display: block;
    height: 100%;
    text-decoration: none;
    transition: opacity 0.1s ease 0s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px 0 0 2px;
    position: relative;
    background-color: #000;
}
.widget_video_wrap > a:hover {
    opacity: 0.7;
}
.widget_video_wrap > a > strong {
    bottom: 0;
    color: #FFF;
    height: 18%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    overflow: hidden;
}
.widget_video_wrap > a > strong > span {
    display: block;
    font-weight: normal;
    margin: 0 5px;
}
.nowrap_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.widget_video_wrap  > a:hover > .fa.fa-play-circle-o {
    opacity: 1;
}
.widget_video_wrap .duration {
    background: none;
    display: none;
    top: 3px;
    bottom: auto;
    font-size: 12px;
}
.widget_video_wrap  > a:hover > .duration {
    display: block;
}
.widget_video_wrap:nth-child(3n+1) > a {
    margin-right: 2px;
}
.video_tab .share_code {
    color: inherit;
    margin: 0;
}
.video_description_block {
    margin-right: 1%;
    width: 78%;
}
.video_metadata_block {
    width: 21%;
}
.video_item_props {
    background: none;
    border: none;
    padding: 0;
}
.video_item_props table .title {
    width: auto;
}
.video_item_props table .value {
    width: 100%;
    text-align: left;
}
.video_metadata_block .info_bar {
    margin: 0;
}
.content_item .video_metadata_block .bar_item {
    float: none;
}
.content_item .ft_html p:last-child, .content_list_item .ft_html p:first-child {
    margin-top: 0;
}
#lightsoff-background {
	background:#000;
	display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
	opacity: 0.9;
	cursor: pointer;
}
.video_list_item .video_tumb_block {
    width: 35%;
}
.video_list_item .video_text, .channel_trailer .video_text {
    width: 100%;
    box-sizing: border-box;
}
.content_list_item .video_content .tags_bar {
    background: none;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}
.content_list_item .video_content .ft_html a.read-more {
    color: #7f8c8d;
    margin: 0 0 0 5px;
    text-transform: lowercase;
    display: inline-block;
}
.content_list_item .video_content .ft_html a.read-more:hover {
    text-decoration: none;
    color: #d35400;
}
.content_list_item .video_content .info_bar {
    position: absolute;
    bottom: 0;
}
.editors_choice {
    bottom: 0;
    color: #3498db;
    font-size: 1.5em;
    padding: 0 5px 0 0;
    position: absolute;
    right: 0;
}
.mini_tumb {
    vertical-align: middle;
    background-position: center center;
    background-size: cover;
    margin: 0 10px 0 0;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 80px;
}
.complain_wrap .button-submit {
    font-size: 0.8em;
    padding: 5px 10px;
}
.complain_info {
    margin: 0 0 10px;
}
.complain_wrap form fieldset {
    border: none;
    margin: 0 0 10px;
    padding: 0;
}
.content_item .complain_wrap .field {
    margin-bottom: 10px;
}
.video_tab .textarea, .video_tab .input {
    width: 98.5%;
}
.background_transition {
    transition: background 0.2s ease 0s;
}
.color_transition {
    transition: color 0.4s ease 0s;
}
.color_pumpkin {
    color: #d35400;
}
.color_red {
    color: #e74c3c;
    text-decoration: none;
}
.color_green {
    color: #2ecc71;
    text-decoration: none;
}
h3 .color_green {
  font-size: 1.8rem;
}
.color_red:hover {
    color: #c0392b;
}
.video_list_item h3 .date_update {
  font-size: 0.6em;
  font-weight: normal;
}
.color_asbestos {
    color: #7f8c8d;
}
.color_blue{
    color: #375E93;
}
.stat_header {
    font-size: 15px;
    margin: 0 0 10px;
}
.stats-target-container {
    border: 1px solid #e2e2e2;
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    font-size: 11px;
    padding: 0;
    vertical-align: middle;
    width: auto;
    margin: 0 0 10px;
}
.stats-target-container td {
    background: #ecf0f1;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 0 1px 0 0;
    cursor: pointer;
    padding: 5px 10px;
    width: 155px;
}
.stats-target-container td:last-child {
    border-width: 0;
}
.stats-target-container td:hover {
    background: #95a5a6;
    color: #ecf0f1;
}
.stats-target-container td.current_stat {
    border-bottom-color: #27ae60;
    border-bottom-width: 2px;
}
.stats-target-container span {
    text-transform: uppercase;
}
#stats-charts-container {
    height: 250px;
}
.by_country {
    width: 83%;
}
#stats-countries {
    float: right;
    width: 17%;
    padding: 5px 0 0 0;
}
.stats-target-container td > div {
    font-size: 1.4em;
    margin: 5px 0 0;
}
#stats-by-country {
    clear: both;
    font-size: 12px;
    margin: 0 0 10px;
}
#stats-by-country input {
    float: left;
    margin: 2px 5px 0 0;
}
.is_empty {
    color: #7f8c8d;
    padding: 20px 0;
    text-align: center;
}
#overview {
    height: 150px;
}
.download_video {
    background: #ecf0f1;
    display: block;
    margin: 5px 0;
    padding: 4px 10px;
    text-decoration: none;
    width: 100%;
}
.download_video:hover {
    background: #bdc3c7;
}
.wautoplay {
  cursor: pointer;
  float: right;
}
#more_link {
    background: #fff;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
}
#more_link b {
    border: 1px solid rgb(232, 232, 232);
    color: rgb(136, 136, 136);
    font-weight: normal;
    margin: -11px auto 0;
    font-size: 11px;
}
#more_link b:hover {
    color: #16a085;
}
.video_description_block .ft_html.f_content {
    overflow: hidden;
    position: relative;
    transition: height 0.2s linear 0s;
}
.content_height {
    height: 116px;
}
.content_height #more_link {
    position: absolute;
}
.iwrap {
    float: left;
    width: 33.333%;
    z-index: 1;
    padding: 0 15px;
    margin-bottom: 30px;
}
.iwrap-thumbnail {
    cursor: pointer;
}
.player_wrap {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto !important;
}
.ioverlay:hover {
    color: #fff;
}
.ioverlay {
  bottom: -100%;
  color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  transition: bottom 0.5s ease-in-out 0.1s;
  width: 100%;
  background-color: rgba(11, 153, 188, 0.75);
}
.iwrap-thumbnail:hover:hover .ioverlay {
    bottom: 0;
}
.ifield_title {
  background-color: rgb(243, 243, 243);
  height: 46px;
  margin-top: 5px;
  overflow: hidden;
  padding: 5px 10px;
  text-transform: uppercase;
    display:block;
    color: inherit !important;
}
.ifield_title:hover {
  background-color: #ededed;
  cursor: pointer;
    text-decoration: none;
}
.ifield_title a {
  color: #1f1f1f;
    text-decoration: none;
}
.iplay {
  cursor: pointer;
  display: block;
  height: 24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.video_is_hd {
  font-size: 0.9em;
}
.iwrap-button {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 28px;
  left: 0;
  margin-bottom: -28px;
  padding: 5px;
  position: absolute;
  right: 0;
transition: all 0.5s ease-in-out 0.1s;
}
.iwrap-thumbnail:hover .iwrap-button {
    bottom: 100%;
    color: #0b99bc;
    background-color: rgba(59, 59, 59, 0.75);
}
.iduration {
  float: right;
  font-size: 0.9em;
}
.iwrap > .player_wrap > img {
    display: none;
}
.video_content_data {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.95em;
    height: 100%;
    line-height: 18px;
    opacity: 0.8;
    padding: 9px 14px;
    position: absolute;
    right: 5px;
    top: 150px;
    width: 100%;
    transition: all 0.3s ease-in-out 0.1s;
}
.iclose {
    color: #ea6153;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 0;
}
h1 > sup {
    color:#FFF;
    background: #BDC3C7;
    font-size:11px;
    margin-top:-15px;
    border-radius:8px;
    padding:2px 5px;
    height:16px;
    line-height: 16px;
}
.subscribe_write_msg {
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #CCC;
}
.subscribers_list .item .actions {
    font-size: 0.95em;
}
#next_video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.next-container {
    position: absolute;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
}
.next-wrap {
    position: relative;
    top: 50%;
    height: 100px;
    margin: -50px 0 0;
}
.next-container .timer {
    font-size: 80px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.next-container .timer > .percent {
    top: 1.0em;
}
.next-container .timer > #slice > .pie {
    border: 0.04em solid #CCC;
    width: 0.85em;
    height: 0.85em;
    box-shadow: 0 0 1px #CCC;
}
.next-info, .next-cancel {
    position: absolute;
    bottom: 125px;
    width: 100%;
    text-align: center;
    color: #FFF;
    left: 0;
}
.next-cancel {
    bottom: -25px;
}
.next-cancel a {
    color: inherit;
    text-decoration: none;
    padding: 3px 15px 4px;
    border: 1px solid #FFF;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.next-cancel a:hover {
    color: #000;
    background: #FFF;
}
.next-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}
.next-pretitle {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.next-title {
    max-width: 65%;
    max-height: 60px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.4;
    overflow: hidden;
}
.video_channels_list {
  background-color: #fff;
  box-shadow: 0 1px 2px #e8e8e8;
  height: 160px;
  margin-bottom: 15px;
}
.vitems_count {
    background: rgba(0, 0, 0, 0.65);
    color: #cfcfcf;
    height: inherit;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50%;
    z-index: 1;
}
.vitems_count b {
    display: block;
    font-size: 24px;
    font-weight: normal;
    padding: 20% 0 0;
}
.channel_text_block {
    padding: 0 10px;
}
.channel_text {
    margin: 10px 0;
}
.channel_text_block h2 {
    margin: 0;
}
.latest_channel_movies, .user_channel_list {
    margin: 10px 0 0 0;
}
.latest_channel_movie {
    height: 60px;
    width: 100px;
    margin: 0 10px 0 0;
}
.user_channel_list .latest_channel_movie {
    height: 64px;
    width: 64px;
}
.user_channel_list .latest_channel_movie span{
    padding: 0;
}
.latest_channel_movie span {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #000;
    opacity: 0;
    color: #FFF;
    font-size: 0.9em;
    text-align: center;
    padding: 23px 0 0 0;
    transition: opacity 0.1s ease 0s;
}
.latest_channel_movie span:hover {
    opacity: 0.8;
}
.video_content .f_teaser {
    max-height: 3em;
    overflow: hidden;
}
.user-channel-header {
  background-position: center top;
  background-size: cover;
  height: 200px;
}
.user-channel-title {
  background-color: rgb(243, 243, 243);
}
.user-channel-info {
  background-color: rgb(59, 59, 59);
  padding: 15px;
  white-space: nowrap;
    vertical-align: middle;
}
.user-channel-info .media-left {
    padding-right: 15px;
}
.channel_logo {
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  height: 60px;
  overflow: hidden;
  width: 60px;
}
.channel_logo > img {
  height: 100%;
  width: 100%;
}
.user-channel-h1 {
  color: rgb(11, 153, 188);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-top: 0;
}
.channel_counts {
  font-size: 12px;
  color: rgb(208, 208, 208);
}
.channel_movie_count {
    margin-bottom: 3px;
}
.channel_description {
  overflow: hidden;
  padding: 15px;
}
.subscribers-right {
  padding: 0 15px 15px;
  position: relative;
}
.subscribers-right a {
    color: #fff;
    text-decoration: none;
}
.subscribers-link {
    display: table-cell;
    white-space: nowrap;
}

@media (min-width: 544px) {
    .subscribers-right {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
    }
    .channel_description {
        display: table-cell;
        vertical-align: middle;
        width: 10000px;
    }
}
@media (min-width: 768px) {
    .user-channel-info {
      display: table-cell;
    }
}
.channel-body {
  background-color: #fff;
  padding: 25px 15px 10px;
}
.channels-dropdown {
    float: right;
    position: relative;
    z-index: 100;
}
#channels-sort {
    display: block;
    padding: 10px 15px;
    position: relative;
}
#channels-sort {
    line-height: 1.42857;
    margin-top: 1px;
}
#channels-sort:hover, #channels-sort:focus  {
    background-color: #eeeeee;
    text-decoration: none;
}
.channels-dropdown .dropdown-menu {
    border-radius: 0 0 2px 2px;
    left: auto;
    margin-top: 0;
    right: 0;
}
#channels-item-menu .nav-tabs {
    padding-right: 140px
}
#channels-item-menu .flex > li > .flexMenu-popup {
    left: 0;
}
.trailer-player {
    height: 250px;
}
.trailer-h {
    margin: 5px 0;
}
.trailer-h a {
  font-size: 30px;
  color: rgb(59, 59, 59);
  font-weight: normal;
}
@media (min-width: 768px) {
    .channel_trailer {
        margin-bottom:30px;
    }
    .trailer-player {
      float: left;
      padding-right: 15px;
      width: 50%;
    }
    .trailer-text {
      width: 50%;
      padding-left: 15px;
    }
}
.content_datasets.mysubscribe-menu ul {
    margin-left: 0;
}
.mysubscribe-menu .pills-menu li.active a {
    color: inherit;
}
.not_available {
    background-color: #e74c3c;
    color: #FFF;
}
.not_available:hover {
    background-color: #c0392b;
    color: #FFF;
}
.format_access_denied {
    width: 400px;
    padding: 10px;
}
.format_access_denied .title {
    font-weight: bold;
    font-size: 1.1em;
}
.fgroups-list > div {
    margin: 0 0 5px 0;
}
#playlists_list {
    list-style: none outside none;
    margin: 0;
padding: 0;
}
#playlists_list .fa-check-square-o {
    display: none;
}
#playlists_list .selected_list .fa-check-square-o {
    display: inline-block;
}
#playlists_list .selected_list .fa-square-o {
    display: none;
}
.addtoplaylist_lists h3 {
    margin-top: 0;
}
#playlists_list li {
    cursor: pointer;
    padding: 3px 5px;
}
#playlists_list li:hover {
    background: #ecf0f1;
}
#playlists_list li.channel_list_title {
    cursor: default;
    padding: 0;
    margin: 10px 0;
    font-weight: bold;
    background: none;
}
#playlists_list li > .fa {
    width: 15px;
}
#playlists_list li > span {
    display: none;
}
#playlists_list li:hover > span {
    display: inline;
}
.playlists_list .video_list_item {
  background-color: #fff;
  height: 140px;
}
.playlists_list .video_tumb_block {
    width: 27%;
}
.vitems_count .fa-bars {
    display: block;
    font-size: 1.9em;
}
.playall {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition:opacity 0.2s linear;
}
.playall:hover {
    opacity: 1;
}
.playall > span {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 18px;
    line-height: 18px;
    margin-top: -9px;
    text-transform: uppercase;
    font-size: 0.95em;
}
#playlist_wrap {
  border-bottom: 10px solid #e8e8e8;
  margin: 0 -15px 10px;
  padding: 10px 0;
}

#playlist_wrap .video_tumb_block {
    padding: 0 15px;
    height: 150px;
    width: 100%;
}
@media (min-width: 544px) {
    #playlist_wrap .video_tumb_block {
        width: 50%;
    }
}
@media (max-width: 768px) {
    #playlist_wrap .video_edit_info {
        padding:0 15px;
    }
}
@media (min-width: 768px) {
    #playlist_wrap .video_tumb_block {
        height: 150px;
        float: left;
        width: 33.3333%;
    }
}
@media (min-width: 1200px){
    #playlist_wrap .video_tumb_block {
      height: 170px;
    }
}
#playlist_wrap h3 {
    margin-top: 0;
}
.date_update {
    font-size: 0.7em;
}
.playlist_info > span:after, .playlist-details > strong:after  {
    content: '\002022';
    margin: 0 4px;
}
.playlist_info > span:last-child:after, .playlist-details > strong:last-child:after {
    content: '';
}
.playlist_info {
    margin: 0 0 10px 0;
    font-size: 0.9em;
    color: #767676;
}
.sort_placeholder {
    background-color: #2ecc71;
}
#share_playlist_wrap {
    width: 600px;
    padding: 10px;
}
#share_playlist_wrap textarea {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}
.playlist_page_player {
    float: left;
    width: 70%;
}
#watch-appbar-playlist.playlist_playlist-videos-list {
    float: left;
    width: 30%;
    border-top: none;
}
#watch-appbar-playlist {
    background: #1A1A1A;
    color: #999;
    border-top: 1px solid #222;
}
.playlist-header {
    padding: 0 5px;
    background: #111;
    height: 47px;
}
.playlist-header-content {
    font-size: 11px;
    line-height: 1.5;
    padding: 5px;
}
#watch-appbar-playlist .playlist-title {
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0;
}
.playlist-title a, .playlist-details a {
    color: inherit; text-decoration: none;
}
.playlist-title a:hover, .playlist-details a:hover {
    text-decoration: underline;
}
.playlist-videos-list {
    padding: 0;
    margin: 0;
    max-height: 283px;
}
#list_embed_playlist .playlist-videos-list {
    max-height: 100%;
}
.playlist-videos-list > li {
    box-sizing: border-box;
    overflow: hidden;
    padding: 7px 10px;
    margin: 0;
    border-bottom: 1px solid #222;
    display: block;
}
.playlist-videos-list > li:last-child {
    border-bottom: none;
}
.playlist-videos-list > li:hover {
    background: #525252;
}
.playlist-videos-list > li.currently-playing {
    background-color: #3A3A3A;
}
.playlist-video {
    display: block;
    text-decoration: none;
}
.playlist-video:hover {
    text-decoration: none;
}
.playlist-video .video-thumb {
    height: 56px;
    width: 90px;
    margin: 0 7px 0 0;
}
.playlist-video .video-thumb img {
    display: none;
}
.playlist-video .playlist_info {
    margin: 5px 0 0 0;
}
.playlist-video h4 {
    color: #CACACA;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
#toggle_playlist {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}
.jw-rightclick {
    display: none !important;
}
.info_bar .addto_playlist {
  background-color: transparent;
  color: #888;
  display: inline-block;
  position: relative;
  right: auto;
  top: auto;
}
.addto_playlist {
  background-color: rgba(59, 59, 59, 0.75);
  bottom: -100%;
  color: #0b99bc;
  cursor: pointer;
  font-size: 0.9em;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  transition: bottom 0.5s ease-in-out 0.1s;
}
.iwrap-thumbnail:hover .addto_playlist {
  bottom: 0;
}

.addto_playlist:hover {
    color: #f39c12;
}
#addto_playlist_wrap {
    position: absolute;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 6px #333;
    max-width: 200px;
    z-index: 1;
}
#addto_playlist_wrap .addtoplaylist_lists {
    max-height: 270px;
}
#ploverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
aside .playlists_list .video_tumb_block {
    width: 100%;
}
aside .playlists_list .video_text_block {
    display: none;
}
.playerseekto {
    color: #555;
    text-decoration: none;
}
.value:hover .playerseekto, .content:hover .playerseekto {
    color: #4183D7;
}
#form_add_playlist .addto_playlist {
    position: relative;
    color: inherit;
    display: block;
    top: inherit;
    right: inherit;
    font-size: inherit;
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .iwrap {
        width: 50%;
    }
    .video_cats {
        width: 50%;
    }
    .video_preview {
        width: 100%;
    }
    .video_edit_info {
        clear: both;
    }
    .video_edit_info > div {
        margin: 10px 0 0 0;
    }
    .content_list_item .video_content .tags_bar {
        display: none;
    }
    .content_list_item .video_content .info_bar {
        display: none;
    }
    .video_list_item {
        height: 135px;
    }
    #comments_widget #comments_refresh_panel {
        display: none;
    }
    .playlist_page_player {
        float: none;
        width: 100%;
    }
    #watch-appbar-playlist.playlist_playlist-videos-list {
        float: none;
        width: 100%;
    }
    #watch-appbar-playlist.playlist_playlist-videos-list .playlist-videos-list {
        height: auto !important;
    }

}
@media screen and (max-width: 480px) {
    .iwrap .player_wrap {
        margin-right: 0 !important;
    }
    .iwrap .ioverlay, .iwrap .video_content_data {
        right: 0 !important;
    }
    .iwrap .iduration, .iwrap .addto_playlist {
        right: 10px !important;
    }
    .iwrap {
        width: 100%;
    }
    .video_cats {
        width: 100%;
    }
    .video_list_item {
        height: auto;
    }
    .video_text_block {
        width: 100%;
    }
    .video_list_item .video_tumb_block {
        height: 180px;
        width: 100%;
    }
    .video_channels_list {
        height: auto;
    }
    .video_channels_list .video_tumb_block {
        width: 100%;
        height: 160px;
    }
    .channel_text_block {
        padding-bottom: 10px;
    }
    .video_item .nav-tabs > li > a {
        padding: 4px;
    }
}

.video-info {
  background-color: rgba(59, 59, 59, 0.75);
  bottom: 60px;
  height: 60px;
  left: 0;
  margin-bottom: -60px;
  padding: 13px 10px;
  position: absolute;
  right: 0;
  transition: all 1s ease 0s;
  cursor: pointer;
}
.video-info-h3 {
  font-size: 14px;
  margin: 0;
  padding-right: 60px;
  text-transform: uppercase;
}
.video-info-h3 > a {
  color: #fff;
}
.video-info-h3 > a:hover {
  text-decoration: none;
}
.movie_count {
    color: #0b99bc;
}
.video-info-play {
  background-color: rgb(11, 153, 188);
  width: 60px;
  height: 60px;
  transition: all 1s ease 0s;
}
.video-info-play {
  background-color: rgb(11, 153, 188);
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  transition: all 1s ease 0s;
}
.video-info-caret {
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(59, 59, 59, 0.75);
  border-top: 5px solid transparent;
  display: inline-block;
  height: 0;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 0;
  transition: all 1s ease 0s;
}
.glyphicon.glyphicon-play-circle {
  color: #fff;
  font-size: 22px;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
}
.video_cat_desc {
  background-color: rgba(11, 153, 188, 0.75);
  color: #fff;
  display: block;
  height: 300px;
  left: 0;
  line-height: 1.17;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 60px;
}
.video_cats:hover .video-info {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 100%;
}
.video_cats:hover .video-info-h3 > a {
  color:#0b99bc;
}
.video_cats:hover .video-info-play {
  background-color: rgb(212, 14, 82);
}
.video_cats:hover .video-info-caret {
  border-left: 5px solid rgba(255, 255, 255, 0.75);
}

.field_movie_list {
    margin: 0 -15px;
}

.player_wrap {
  height: 170px;
}
.player_wrap img {
    display: none;
}

@media (min-width: 768px) {
    .player_wrap {
      height: 150px;
    }
}
@media (min-width: 1200px){
    .player_wrap {
      height: 170px;
    }
}


.video-title {
    color: #3b3b3b;
    line-height: 1.3;
    margin-top: 20px;
}

.filter-panel.video-filter {
  border-bottom: 10px solid #e8e8e8;
  border-top: 10px solid #e8e8e8;
  margin: 0 -15px 15px;
}

.video-item-form #tab-props .form-group {
  float: none;
  width: 50%;
}
.video-item-form #tab-props .form-group .form-control{
    width: auto;
}
.video-item-form #tab-props .form-group .input-group .form-control{
    width: 100%;
}
.field.form_add_playlist {
  margin-bottom: 10px;
  padding: 0 15px;
}
.adult-icon {
  background-color: rgba(59, 59, 59, 0.75);
  color: #fff;
  padding: 4px 8px;
  position: absolute;
  top: 0;
}
.video_cat_cover_404 {
  background-position: center 60%;
  background-size: inherit;
}

.overlay_wrap:hover{opacity:.9}
.overlay_wrap{opacity:.75;position:absolute;z-index:999}
.close_overlay{background:#c0392b;color:#fff;line-height:16px;padding:0 5px;position:absolute;right:0;text-decoration:none;top:0}
.close_overlay:hover{background:#e74c3c;color:#fff}
.overlay_body{color:#fff;padding:5px 10px;height:100%;box-sizing:border-box}

.owl-prev, .owl-next {
  width: 35px;
  background-color: rgba(189, 195, 199, .8);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: left 0.4s, right .4s
}

.widget_video_slider .owl-prev, .widget_video_slider .owl-next {
  background-color: transparent;
  color: #FFF
}

.owl-prev {
  left: -35px
}

.owl-next {
  right: -35px
}

.owl-carousel:hover .owl-prev {
  left: 0
}

.owl-carousel:hover .owl-next {
  right: 0;
  left: auto
}

.owl-prev i, .owl-next i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  height: 36px;
  margin: -18px 0 0 -12px;
  width: 24px
}

#import_providers_wrap {
  margin: 0 0 10px 0;
}

#import_providers_wrap * {
  display: block
}

#import_providers_wrap .import_provider {
  overflow: hidden;
  position: relative
}

.import_provider {
  background-position: center center;
  background-repeat: no-repeat;
  height: 128px;
  width: 128px
}

.import_provider > span {
  background: #666;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: .8;
  padding: 3px 0;
  position: absolute;
  width: 100%;
  text-align: center
}

.import_provider:hover > span {
  opacity: 1
}

#import_providers_wrap .import_provider.selected_provider > span {
  height: 100%;
  opacity: .8;
  padding: 0
}

#import_providers_wrap .import_provider.selected_provider .fa {
  display: block
}

#import_providers_wrap .import_provider .fa {
  color: #ecf0f1;
  font-size: 50px;
  left: 50%;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  display: none
}