.movie_import_link_form {
    width: 800px;
    padding: 10px;
}
.movie_import_link_form .buttons {
    margin: 10px 0;
    text-align: center;
}
.overflow {
    overflow: hidden;
    position: relative;
}
.loading {
    padding-left: 20px !important;
}
.video_preview {
    width: 50%;
}
.iwrap {
    float: left;
    height: 150px;
    width: 33.333%;
}
.owl-carousel .iwrap {
    width: 100%;
    float: none;
}
.owl-carousel .player_wrap {
    margin: 0 5px 0 0;
}
.owl-carousel .ioverlay {
    right: 5px;
    top: 0;
}
.poster_img, .player_wrap {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.player_wrap {
    margin: 5px 5px 0 0;
    width: auto !important;
}
.iwrap:nth-child(3n+3) .player_wrap {
    margin-right: 0;
}
.iwrap:nth-child(3n+3) .ioverlay, .iwrap:nth-child(3n+3) .video_content_data {
    right: 0;
}
.nyroModalCont, .nyroModalBg, .nyroModalTitle {
    z-index: 200;
}
.nyroModalCloseButton {
    z-index: 201;
}
.ioverlay {
    background: #000;
    color: #fff;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 100%;
    transition: opacity 0.1s ease 0s;
}
.iwrap:hover .ioverlay {
    opacity: 0.7;
}
.idelete {
    color: #c0392b;
}
.idelete:hover {
    color: #ea6153;
}
.iedit:hover {
    color: #bdc3c7;
}
.iedit {
    margin: 50px 0 0;
}
.iedit, .idelete {
    cursor: pointer;
    transition: font-size 0.05s ease 0s;
    line-height: 20px;
}
.iedit:hover, .idelete:hover {
    font-size: 1.1em;
}
.ifield_title {
    bottom: 3px;
    color: #fff;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-shadow: 1px 1px 1px #000;
    width: 100%;
}
.ifield_title a {
    color: inherit;
    text-decoration: none;
}
.ifield_title span {
    display: block;
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: help;
}
.iplay {
    cursor: pointer;
    height: 100% !important;
    padding: 60px 0 0;
    width: 100%;
    top: 0 !important;
    margin: 0 !important;
}
.video_is_hd {
    background: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 0.9em;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    top: 10px;
}
.iduration {
    color: #fff;
    font-size: 0.9em;
    position: absolute;
    right: 15px;
    text-shadow: 1px 1px 1px #333;
    top: 10px;
}
.iwrap:nth-child(3n+3) .iduration {
    right: 10px;
}
.field_player_wrap {
    overflow: hidden;
    position: relative;
    background: #000;
    clear: both;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
}
.video_field_hint {
    color: #d35400;
    display: inline-block;
}
.player_field_data {
    width: 100%;
    height: 100%;
}
.player_field_content_wrap {
    background: #000;
    box-sizing: border-box;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    display: none;
}
.player_field_content_wrap > div {
    padding: 10px;
}
#video_descr_button:hover, .video_descr_button_sel {
    background: #333 !important;
}
#video_descr_button {
    background: #000;
    color: #ccc;
    padding: 3px 9px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-transform: lowercase;
}
.video_content_data {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.85em;
    height: 100%;
    line-height: 14px;
    opacity: 0.8;
    padding: 3px 10px;
    position: absolute;
    right: 5px;
    top: 150px;
    width: 100%;
    transition: all 0.3s ease-in-out 0.1s;
}
.ifield_title:hover + .video_content_data, .video_content_data:hover {
    top: 85px;
}
.iwrap > .player_wrap > img {
    display: none;
}
@media screen and (max-width: 800px) {
    .iwrap:nth-child(3n+3) .player_wrap {
        margin-right: 5px;
    }
    .iwrap:nth-child(3n+3) .ioverlay, .iwrap:nth-child(3n+3) .video_content_data {
        right: 5px;
    }
    .iwrap:nth-child(3n+3) .iduration, .iwrap:nth-child(3n+3) .addto_playlist {
        right: 15px;
    }
    .iwrap {
        width: 50%;
    }
    .iwrap:nth-child(2n+2) .player_wrap {
        margin-right: 0;
    }
    .iwrap:nth-child(2n+2) .ioverlay, .iwrap:nth-child(2n+2) .video_content_data {
        right: 0;
    }
    .iwrap:nth-child(2n+2) .iduration, .iwrap:nth-child(2n+2) .addto_playlist {
        right: 10px;
    }
    .video_preview {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .iwrap .player_wrap {
        margin-right: 0 !important;
    }
    .iwrap .ioverlay, .iwrap .video_content_data {
        right: 0 !important;
    }
    .iwrap .iduration, .iwrap .addto_playlist {
        right: 10px !important;
    }
    .iwrap {
        width: 100%;
    }
}