@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?25235529');
  src: url('../font/fontello.eot?25235529#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?25235529') format('woff'),
       url('../font/fontello.ttf?25235529') format('truetype'),
       url('../font/fontello.svg?25235529#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25235529#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  position: relative;
  top: 1px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-half-alt:before { content: '\e801'; } /* '' */
.icon-star-half:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-user-plus:before { content: '\e804'; } /* '' */
.icon-user-times:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-female:before { content: '\e808'; } /* '' */
.icon-male:before { content: '\e809'; } /* '' */
.icon-at:before { content: '\e80a'; } /* '' */
.icon-skype:before { content: '\e80b'; } /* '' */