#body section article {
  padding: 15px !important;
}
.cont_board_title {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
}

.board-avatar-circle {
	height: 32px;
	border-radius: 50%;
	color: rgb(11, 153, 188);
	display: inline-block;
	width: 32px;
}
.board-avatar-circle .default_avatar {
    line-height: 24px !important;
}
.board-avatar-circle .default_avatar,
.board-avatar-circle img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.board-avatar-circle .default_avatar:after {
    border-radius: 50%;
}
.title_left {
  min-width: 100px;
  padding-right: 15px;
}

.ft_number .title_left,
.ft_string .title_left {
	padding: 5px 0;
}
.ft_string .value,
.ft_number .value {
	padding: 4px 0;
	font-size: 16px;
	font-weight: bold;
}
.f_price .value {
	color: #d40e52
}

.f_price, .f_phone {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.content_title + .f_phone + .f_price,
.content_title + .f_price + .f_phone {
  margin-top: -11px;
}

.board-basic-info .field {
  display: flex;
}
.board-basic-info .field.f_content {
	overflow: visible;
}


@media (max-width: 767px) {
	.board-photo {
	  margin: 0 auto 20px;
	  max-width: 100%;
	  width: 400px;
	}
}

@media (min-width: 768px) {
	.board-photo {
	  float: left;
	  margin-right: 20px;
	  margin-bottom: 5px;
	}
	.board-photo-big {
	  max-height: 250px;
	  max-width: 280px;
	  overflow: hidden;
	}
	.board-photo-big > img {
	  display: block;
	  max-height: 100%;
	  max-width: 100%;
	}
	.props-item,
	.board_item_props > .props-info {
		width: 33.3333%;
		float: left;
	}
}

.board-Gallery {
	width: 370px;
}

.board-Gallery .lSGallery,
.board-Gallery .lSGallery li {
	overflow: visible !important;
}
.board-Gallery .lslide.active img {
    min-width: auto;
    margin: 0 auto;
}
.board-Gallery .lSGallery li {
  	padding: 2px;
  	transition: all 0.2s linear 0s;
   	box-shadow: 0 0 0 3px #fff inset;
}
.board-Gallery .lSGallery li.active, 
.board-Gallery .lSGallery li:hover {
  box-shadow: 0 0 0 3px #d40e52 inset;
}

.board-Gallery .lSGallery li.active::after {
  border-color: transparent transparent #d40e52;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  content: "";
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: -8px;
}
.board-Gallery .vertical .lSGallery li.active:after {
	border-color: transparent #d40e52 transparent transparent;
	top: 22px;
	left: -8px;
	margin: 0;
}

@media (max-width: 400px) {
	.board-Gallery {
		width: 100%;
	}
}
@media (max-width: 768px) {
	#imageGallery .lSSlideWrapper,
	.lslide {
		height: 246px;
	}
}
.board-photo-big:before,
.board-Gallery .lslide:before {
  bottom: 7px;
  color: #d40e52;
  content: "\e096";
  cursor: pointer;
  font-family: "Glyphicons Halflings";
  position: absolute;
  right: 11px;
}

.board-Gallery .lSSlideOuter .lSPager.lSGallery {
	margin-left:auto;
	margin-right:auto;
}