/* Gorec my style */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #f3f3f3 url("../img/back1.jpg") no-repeat center top;
  color: #3b3b3b;
  font-family: "Roboto";
}
#body {
  background-color: #e8e8e8;
  margin-bottom: 0;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  #body {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

#wrap {
  background-color: rgba(243, 243, 243, 0.5);
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  padding: 0 0 50px;
}
/* ------------------------ Standart--------------------- */
.ml-auto {  margin-left: auto;}
.mr-auto {  margin-right: auto;}

.margin-null  {margin: 0px !important;}
.margin-auto  {margin: 0 auto;}

.margin-b0 		{margin-bottom:0px   !important;}
.margin-b5 		{margin-bottom:5px   !important;}
.margin-b10   {margin-bottom:10px  !important;}
.margin-b15 	{margin-bottom:15px  !important;}
.margin-b20   {margin-bottom:20px  !important;}

.margin-t0 		{margin-top:0     !important;}
.margin-t5    {margin-top:5px   !important;}
.margin-t-5   {margin-top:-5px  !important;}
.margin-t10   {margin-top:10px  !important;}
.margin-t15 	{margin-top:15px  !important;}
.margin-t20   {margin-top:20px  !important;}
.margin-t-20  {margin-top:-20px !important;}
.margin-t25 	{margin-top:25px  !important;}

.ml-5 		{margin-left:5px;}
.ml-10 	{margin-left:10px;}
.margin-l-10 	{margin-left:-10px;}
.margin-l15		{margin-left:15px;}

.margin-r5 		{margin-right:5px;}
.mr-10 	{margin-right:10px;}
.margin-r-10 	{margin-right:-10px;}
.margin-r15		{margin-right:15px;}
.margin-r-15  {margin-right:-15px;}
.margin-r30   {margin-right:30px;}
.margin-r-30  {margin-right: -30px !important;}

.padding-t5   {padding-top:5px !important;}
.padding-t10  {padding-top:10px !important;}

.padding-l0		{padding-left: 0px;}
.padding-l5		{padding-left: 5px;}

.padding-r0   {padding-right: 0px;}
.padding-r5   {padding-right: 5px;}

.padding-0    {padding:0 !important;}
.padding-all5	{padding:5px !important;}
.padding-all10{padding:10px !important;}
.padding-all15{padding:15px !important;}

.padding-b0 	{padding-bottom:0 !important;}
.padding-b5   {padding-bottom:5px !important;}
.padding-b10  {padding-bottom:10px !important;}
.padding-b15  {padding-bottom:15px !important;}

.font-s11 		{font-size:11px;}
.font-s12 		{font-size:12px;}
.font-s13     {font-size:13px;}
.font-s14     {font-size:14px;}
.font-s16 		{font-size:16px;}
.font-s18 		{font-size:18px;}
.font-s20 		{font-size:20px;}
.font-s22 		{font-size:22px;}
.font-s24 		{font-size:24px;}

.nowrap       {white-space: nowrap;}

.color-tag-a  {color: #0b99bc;}
.color-blue 	{color:#3498db;}
.color-blue2  {color:#0b99bc;}
.color-aqua   {color:#18bc9c;}
.text-dark    {color:#333333;}
.color-aaa    {color:#aaaaaa;}

.font-bold    {font-weight:bold;}

.text-upper   {text-transform:uppercase;}

.margin-row .row { margin-bottom:10px;}
.media-row  .media:first-child{ margin-top:15px; }

.display-i-b    {display:inline-block !important;}
.display-b      {display:block !important;}
.display-no     {display:none;}
.justify-content-between {justify-content: space-between;}

.height-a     {height:auto !important;}
.height-36    {height: 36px; display: block; overflow: hidden;}
.height-20    {height: 20px; display: block; overflow: hidden;}
.height-40    {height: 20px; display: block; overflow: hidden;}
.height-max-60{max-height: 60px; display: block; overflow: hidden;}

.list-null {list-style:none;margin: 0;padding: 0;}

.overflow-h {overflow: hidden; }
.position-r {position: relative;}

.form_control_inline,
.form-control-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.img-responsive-block img{
  display: block;
  max-width: 100%;
  height: auto;
}
.display-center {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.pos-r {
  position: relative;
}
/* Header =================================================================== */
@media (min-width: 768px) {
  .head-trian {padding: 0;}
  .head-trian .nav li a {
    font-size:12px;
    font-weight:bold;
    color: #1f1f1f;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.navbar-form-sm {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .head-trian .nav > li + li:after {
    content: "|";
    position: absolute;
    top: 14px;
    line-height: 1.42857;
  }
  .navbar .navbar-form-sm {
    width: 195px;
  }
  .head-block {
    background: rgba(232, 232, 232, 0.4) none repeat scroll 0 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
  }
  .head-block .navbar,
  .head-block .carousel_block{
    margin-left:-1px;
    margin-right: -1px;
  }
}
.head-block {
  padding: 20px 0 0;
}
.head-two {
  margin-bottom: 25px;
  margin-top: 15px;
  position: relative;
}
.navbar-uppercase .nav li a {text-transform:uppercase;}
.banner {
  float: right;
  margin-right: 15px;
}
#logo {
  display: block;
  float: left;
  margin-left: 15px;
}
.logo-mobile {
  display: block;
  height: 30px;
  margin: 10px auto;
  width: 146px;
}
@media (min-width: 992px) {
  .banner {
    max-width: 60%;
  }
  #logo {
    max-width: 35%;
  }
}
/* Breadcrumbs ============================================================== */
#breadcrumbs {
  background-color: #fff;
  border-bottom: 10px solid #e8e8e8;
  padding: 4px 40px 4px 15px;
  position: relative;
}

#breadcrumbs > ul > li {height:32px; line-height:32px; float:left;color:#888;}
#breadcrumbs > ul li a {color:#888;white-space: initial;}
#breadcrumbs .flexMenu-popup a {display: block;padding: 0 10px;}
.site-home .glyphicon:hover,
#breadcrumbs > ul > li > a:hover {text-decoration: none;}
#breadcrumbs > ul > li.sep {margin:0 10px;width: 4px;background: url("../images/nav-arrow-right-light.png") no-repeat left center;}

#breadcrumbs .flex .flexMenu-viewMore {
  padding-left:10px;
  background: url("../images/nav-arrow-right-light.png") no-repeat left center;
  margin-left: 10px;
  position: relative;
}
#breadcrumbs .flex .sep + .flexMenu-viewMore {
  padding: 0;
  margin: 0;
  background: none;
}

#breadcrumbs .flexMenu-viewMore .sep {
  display: none;
}

/* Gorec my style END */

/* Footer =================================================================== */
/*------------------------- Footer ------------------------------*/
.main-footer {
  margin-top:-50px;
  background-color:#e8e8e8;
  color:#3b3b3b;
  font-size:12px;
}

.footer_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 27px;
  text-transform: uppercase;
}
.main-footer .navbar {
  background:transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.main-footer .mod_latest_title {font-weight: bold; color:#3b3b3b;} /*- go -*/
.main-footer .separator {border:none;}  /*- delete -*/
.footer-box {
position: relative;
z-index:11;
border-bottom: 1px solid #fff;
border-top: 1px solid #fff;
-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 2px 10px rgba(0, 0, 0, 0.2);
box-shadow:         0px 2px 10px rgba(0, 0, 0, 0.2);
}

#subfooter {margin-top: 20px;padding-bottom: 20px;}
#subfooter.image img {
border: 1px solid #d0d0d0;
height: 50px;
width: 50px;
}
#copyright {
  background-color: #fff;
  font-size: 14px;
  position: relative;
  text-align: center;
  z-index: 10;
}
#copyright .navbar-text {
margin-left: 0;
}
#copyright .navbar-nav {
margin:-15px 0;
}

/* ============================================= */
.positive {
  font-weight: 500;
}
.negative { color:#d40e52; }

/* Main Navigation =========================================================== */
nav select { display: none; }

/* Section ================================================================== */
#body .section article {
  background-color: #fff;
  margin: 0 0 15px;
  padding: 10px 15px;
}
.section article img {
  height: auto;
  max-width: 100%;
}
.section article .ft_html img {
  height: auto !important;
}
.white_del {
  background-color: #e8e8e8;
  margin: -10px -15px;
  padding-bottom: 1px;
}
/* Sidebar ================================================================== */

/* Footer SQL Debug ======================================================== */

#debug_block{
  display:none;
}

.queries_wrap .query{
  padding:10px;
  margin:10px;
  background:#FFF;
  border:solid 1px #DDD;
}

.queries_wrap .query .src{
  font-size:12px;
  color:#999;
}
.queries_wrap .query .debug_data{
  margin-top:4px;
}
.queries_wrap .query_time {
  color: #999;
  font-size: 12px;
  margin: 4px 0 0;
}
.queries_wrap .red_query {
  color: #c0392b;
}
.queries_wrap .green_query {
  color: #27ae60;
}
#debug_widget.tabs-menu > ul {
  min-width: 600px;
}
#debug_widget.tabs-menu .tabbed li {
  background: none;
}

#debug_widget.tabs-menu .tabbed li.active a{
  border-top-color:transparent;
}
#debug_widget ol {
  padding: 0;
  margin: 0;
}
/* Footer Navigation ======================================================== */

#layout footer #nav {
    float:right;
    margin-right: 0;
}

/* Site offline notice ====================================================== */

#site_off_notice {
  padding: 5px 10px;
  position: fixed;
  left: 19px;
  top: 15px;
  z-index: 1100;
}
/* Media Queries ============================================================ */

.lSAction > a {
  z-index: 100 !important;
}

.nav-filtr .active >div{
  position: relative;
  display: block;
  padding: 10px 15px;

}