/* theme-gui.css - стили для  внутренних элементов шаблна      */
/* theme-content.css - стили для типов контента и их виджетов  */
/* theme-layout.css - стили для шаблона                        */

/* Gorec my style */
@media (max-width: 767px) {
  header {
    padding-bottom: 70px;
  }
  header .navbar-static-top:first-child {
  position: fixed;
  width: 100%;
  z-index: 1001;

}
  .navbar-go-top {
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
  }
  .navbar-toggle-user {
    float: left;
    font-size: 20px;
    margin-left: 15px;
    padding: 3px 10px 0;
    height: 34px;
  }
  #navbar-collapse-1 {
    width: 100%;
  }
}
.navbar-share {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .navbar .dropdown:hover > .dropdown-menu {display: block;}
  .navbar .dropdown .dropdown-menu .dropdown:hover .dropdown-menu {left: 100%;top: 0;bottom: auto;}
  .navbar .dropdown.more .dropdown-menu .dropdown:hover .dropdown-menu {left: auto;right:100%;top: 0;}
  
  .nav .dropdown .dropdown-mobile {
    display: none;
  }
  .navbar-share {
    float: right;
    margin: 13px 10px;
  }
}
.navbar .navbar-nav .dropdown-menu-1 .dropdown-mobile{
  display: none;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu-2 {
    display: block;
  }
}

.form-control, .btn, 
.btn-lg,
.btn-group-lg > .btn,
.btn-sm,
.btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn,
.dropdown-menu,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.input-group-addon, 
.input-group-addon.input-sm,
.input-group-addon.input-md,
.input-group-addon.input-lg, 
.nav-tabs > li > a, 
.nav-tabs.nav-justified > li > a,
.nav-pills > li > a,
.pagination,
.pager li > a,
.pager li > span, 
.badge,
.label,
.alert,
.panel,
.panel-heading,
.panel-footer,
pre,
.container .jumbotron {
  border-radius: 0px;
}
.panel-body .alert {
margin: -16px -16px 20px;
}
.navbar-static-top:first-child {
  z-index: 1001;
}
.img-responsive {
  margin: 0 auto;
}
.img-responsive-div img {
    display: block;
    height: auto;
    max-width: 100%;
}
.glyphicon.glyphicon-folder-open {
  padding-right: 4px;
}
/* Классы которые лучше не трогать ICMS reinstall style */
a:focus {
  outline: none;
  outline-offset: 0;
}

select.form-control {
  width: auto;
  vertical-align: middle;
  max-width: 100%;
}

.textarea,
#recaptcha_response_field {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.textarea:focus,
#recaptcha_response_field:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#recaptcha_response_field {border: 1px solid #ccc !important;}
#recaptcha_response_field:focus {border-color: #66afe9 !important;}
#recaptcha_widget_div {margin-bottom: 15px;}
.navbar-nav .dropdown-menu .dropdown .caret {
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-right: 0;
}
.navbar-nav .more .dropdown-menu .dropdown .caret {
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
  border-top: 4px solid transparent;
  border-left: 0;
}

textarea.markItUpEditor {
  height: 100px;
}
.preview_box {
 display: none;
 padding: 10px;
 background-color: #ffffff;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 margin-bottom: 20px;
}
.clear { clear:both; }

.ui-datepicker-trigger {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  color: #333;
}

.ui-datepicker-trigger:hover,
.ui-datepicker-trigger:focus,
.ui-datepicker-trigger:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.ui-datepicker-trigger:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-datepicker-trigger:hover,
.ui-datepicker-trigger:focus {
  color: #333;
  text-decoration: none;
}
.ui-datepicker-trigger:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ui-datepicker-trigger:active {
  background-image: none;
}

.body:before,
.body:after,

.input-prefix-suffix:before,
.input-prefix-suffix:after,

.wd_body:before,
.wd_body:after {
  content: " ";
  display: table;
}

.input-prefix-suffix:after,
.body:after,
.wd_body:after {
  clear: both;
}
/* Rating Widget ============================================================ */
.rating_widget .arrow, .rating_widget .score {
  display: inline-block;
}
.rating_widget .score {
  cursor: help;
  margin: 0 5px;
}
.rating_widget .score .positive { color:#444; }
.rating_widget .score .negative { color:red; }

.info_bar {
  font-size: 12px;
  list-style: outside none none;
  margin: 5px 0;
  padding-left: 0;
}
.info_bar > li {
  border-left: 1px solid #e8e8e8;
  color: #888;
  display: inline-block;
  padding: 5px 5px 5px 10px;
}

.info_bar > li a,
.info_bar > li span,
.tags_bar a{
  color: #888;
}
.info_bar .rating_widget {
  font-size: 14px;
}
.bar_item.bi_share {
  border-left: 0 none;
  float: right;
}

.dark-share .b-share_theme_counter .b-share_type_small .b-share__link {
  background-color: #3b3b3b;
  border: none !important;
  height: 22px !important;
  padding: 2px !important;
}
.dark-share .b-share-btn__wrap a span{
  color: #fff !important;
}
.tags_bar {
  margin: 5px 0;
}
/* Gorec my style END ========================================================= */

/* Comments Widget ========================================================== */

.comment-media-body {
  overflow-x: hidden;
  padding-left: 5px;
}

.markItUpHeader > ul {
 margin-left: -4px;
}
.markItUpHeader ul li {
 margin-left: 5px;
}

.track {
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -50px;
}
#comments_widget {
    margin-top: 20px;
}
#comments_add_form {
 display: none;
 padding: 8px 0;
}

#comments_add_form .loading{ display: none; }
.scroll-nav a {
    text-decoration:none;
    margin-right: 3px;
}
#comments_list .media-left {
 padding-top: 4px;
}
.scroll-nav .scroll-down { display:none; }

.list-comment{
  list-style: outside none none;
  margin-left: -5px;
  padding-left: 0;
  margin-bottom: 0;
}  
.list-comment > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: #777;
  font-size: 12px;
}
.list-comment > li a {
 color: #777;
}
.list-comment > li .user {
 color: #2980b9;
}
.list-comment blockquote {
  border-left: 5px solid #eeeeee;
  font-size: 14px;
  margin: 5px 0;
  padding: 0 10px;
}

#comments_list .selected-comment {
  border: 1px solid #ccc;
  padding: 10px;
}

#comments_refresh_panel {
  display: block;
  width:50px;
  height:35px;
  position: fixed;
  z-index:100;
  right:0px;
  top:45%;
  background:url("../images/loader24.gif") no-repeat center center #B3C2C9;
}
#comments_refresh_panel a{
  display: block;
  width:50px;
  height:35px;
  background:url("../images/icons32/update-black.png") no-repeat center center #B3C2C9;
}
#comments_refresh_panel a:hover{
  background-color: #e1ebef;
}
#comments_list.striped-list .comment{
  border-bottom: solid 1px #EDEDED;
  padding-bottom:15px;
}
#comments_list.striped-list .comment:last-child{
  border:none;
}

/* Session messages ========================================================= */

.sess_messages {
    margin-bottom:10px;
}

.sess_messages div{
    padding:10px;
    padding-left:30px;
    background:#f9f9f9;
    line-height:16px;
    margin-bottom:2px;
    color: #FFF;
}

.sess_messages div a { color:#ecf0f1; }
.sess_messages div a:hover { color:#d35400; }

.sess_messages .message_info {
    background:url("../images/icons/info.png") no-repeat 10px center #2980b9;
}
.sess_messages .message_success {
    background:url("../images/icons/accept.png") no-repeat 10px center #27ae60;
}
.sess_messages .message_error {
    background:url("../images/icons/error.png") no-repeat 10px center #e74c3c;
}


/* Indicators =============================================================== */

.loading{
    padding-left: 20px;
    background:url("../images/loader16.gif") no-repeat left center;
}

.loading-icon{
    display:block;
    width:16px;
    height:16px;
    background:url("../images/loader16.gif") no-repeat left center;
}

.loading-panel{
    background:url("../images/loader24.gif") no-repeat center center;
}

.is_private, .is_closed {
    display: inline-block;
    cursor: help;
    width:16px;
    height:16px;
    background:url("../images/icons/eye.png") no-repeat;
}

.is_closed{
    background:url("../images/icons/lock.png") no-repeat;
}

.is_online{
    color:#FFF;
    font-size:11px;
    padding:1px 6px;
    border-radius: 2px;
}

/* Menu icons =============================================================== */

.icon-accept{ background-image: url("../images/icons/accept.png"); }
.icon-add{ background-image: url("../images/icons/add.png"); }
.icon-edit{ background-image: url("../images/icons/edit.png"); }
.icon-delete{ background-image: url("../images/icons/delete.png"); }
.icon-save{ background-image: url("../images/icons/save.png"); }
.icon-cancel{ background-image: url("../images/icons/cancel.png"); }
.icon-key { background-image: url("../images/icons/key.png"); }
.icon-page_gear{ background-image: url("../images/icons/page_gear.png"); }
.icon-folder_add{ background-image: url("../images/icons/folder_add.png"); }
.icon-folder_edit{ background-image: url("../images/icons/folder_edit.png"); }
.icon-folder_delete{ background-image: url("../images/icons/folder_delete.png"); }
.icon-user_add { background-image: url("../images/icons/user_add.png"); }
.icon-user_delete{ background-image: url("../images/icons/user_delete.png"); }
.icon-group{ background-image: url("../images/icons/group.png"); }
.icon-group_add{ background-image: url("../images/icons/group_add.png"); }
.icon-group_delete{ background-image: url("../images/icons/group_delete.png"); }
.icon-profile{ background-image: url("../images/icons/profile.png"); }
.icon-messages{ background-image: url("../images/icons/messages.png"); }
.icon-info{ background-image: url("../images/icons/info.png"); }
.icon-blog{ background-image: url("../images/icons/blog.png"); }
.icon-settings{ background-image: url("../images/icons/settings.png"); }
.icon-cpanel{ background-image: url("../images/icons/cpanel.png"); }
.icon-more { background-image: url("../images/icons/folders.png"); }
.icon-logout{ background-image: url("../images/icons/logout.png"); }
.icon-checklist{ background-image: url("../images/icons/checklist.png"); }
.icon-images{ background-image: url("../images/icons/images.png"); }
.icon-invites{ background-image: url("../images/icons/signature.png"); }
.icon-balance{ background-image: url("../images/icons/coin.png"); }
.icon-transfer{ background-image: url("../images/icons/transfer.png"); }
.icon-coins_add{ background-image: url("../images/icons/coins_add.png"); }
.icon-coins_delete{ background-image: url("../images/icons/coins_delete.png"); }

/* Misc icons =============================================================== */

.medal-icon-16{ width:16px; height:32px; }
.medal1-16 { background:url("../images/icons/medal_gold.png") no-repeat center center; }
.medal2-16 { background:url("../images/icons/medal_silver.png") no-repeat center center; }
.medal3-16 { background:url("../images/icons/medal_bronze.png") no-repeat center center; }

.medal-icon-32{ width:32px; height:64px; }
.medal1-32 { background:url("../images/icons32/medal_gold.png") no-repeat center center; }
.medal2-32 { background:url("../images/icons32/medal_silver.png") no-repeat center center; }
.medal3-32 { background:url("../images/icons32/medal_bronze.png") no-repeat center center; }

/* Tabs Menu =============================================================== */

.tabs-menu > select { display:none; }

/* Panels =================================================================== */
.gui-panel {
  background-color: #fff;
  margin-left: -15px;
  padding:0 10px;
  margin-bottom: 10px;
}
.filter-panel {
    padding:0;
}
.filter-link a {
  color: #3b3b3b;
  display: block;
  padding: 9px 10px 10px 15px;
  text-decoration: none;
}
.filter-panel .filter-container {
    padding:10px;
}
.filter-container .filter-close a {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
}
.filter-panel .filter-container .fields {
  display: flex;
  flex-wrap: wrap;
}
.filter-panel .fields .field {
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
}
@media (min-width: 768px) {
  .filter-panel .fields .field {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .no-aside  .filter-panel .fields .field{
    width: 25%;
  }
  .one-aside .filter-panel .fields .field{
    width: 33.3333%;
  }
  .two-aside .filter-panel .fields .field{
    width: 50%;
  }
}
.filter-container .fields .btn,
.filter-container .fields .chosen-container > a {
  width: 100%;
  text-align: left;
} 
.filter-container .fields .btn .caret {
  position: absolute;
  right: 10px;
  top: 16px;
}
.widget_content_filter .dropdown-menu,
.filter-panel .fields .dropdown-menu {
  padding: 5px;
}
.filter-panel .ft_number .dropdown-menu,
.filter-panel .ft_date .dropdown-menu {
  white-space: nowrap;
}
.filter-panel .fields .title {
  margin-bottom: 5px;
}

.filter-panel .input,
.filter-panel select,
.filter-checkbox input{
  margin:0;
}

.filter-panel select { padding:3px 4px; }
.filter-panel .buttons { overflow:hidden; margin-top: 5px; }
.filter-panel .buttons .button-submit { margin-bottom: 3px; float:left; padding:8px; }
.filter-panel .buttons .link { float:left; height:32px; line-height: 32px; margin-left: 10px; }
.filter-panel .buttons .link a { color:#34495e; }
.filter-panel .buttons .link a:hover { color:#d35400; }

.gui-panel h3 {
    margin-top:0;
    margin-bottom: 5px;
}
/* Lists ==================================================================== */


.striped-list .rate_value span{
    cursor: help;
}
.striped-list .rate_value span{
  color: #fff;
}

.striped-list .rate_value.positive{ color:#2980b9; }
.striped-list .rate_value.negative{ color:#d40e52; }
.striped-list .rate_value.zero{ color:#2980b9; }

.rate_values .rate_value {
  font-size: 18px !important;
}

/* Pagination =============================================================== */

.pagebar {
    clear: both;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.pagebar_title {
    color: #34495e;
    margin: 5px;
}
.pagebar_current {
    display: inline-block;
}
.pagebar_nav .disabled{
	color:#BDC3C7;
}
.pagebar_nav .pagebar_page:first-child { 
	margin-left: 0;
	margin-right: 5px;
}
.pagebar_nav .pagebar_page {
  display: inline-block;
  padding: 6px 0;
}
.pagebar_pages .pagebar_page:hover {
	background:#ecf0f1;
	text-decoration: none;
	color:#34495e;
}
.pagebar_notice {
    font-size:12px;
    color:#BDC3C7;
}

@media (max-width: 543px) {
  .pagebar_nav,
  .pagebar_pages,
  .pagebar_notice {
    display: block;
    text-align: center;
  }
}
@media (min-width: 544px) {
  .pagebar_nav {
    margin-right: 15px;
  }
  .pagebar_notice {
      display: inline-block;
      margin-left:20px;
  }
}
/* Forms and Inputs ========================================================= */
#tab-props fieldset {
  margin: 0 -15px;
}
#tab-props .field.form-group {
  padding:0 15px;
}
@media (min-width: 544px) {
  #tab-props .field.form-group {
    float: left;
    width: 50%;
  }
  #tab-props .field.form-group:nth-of-type(2n+3) {
    clear: both;
  }
}
@media (min-width: 992px) {
  #tab-props .field.form-group {
    width: 33.3333%;
  }
  #tab-props .field.form-group:nth-of-type(2n+3) {
    clear: none;
  }
  #tab-props .field.form-group:nth-of-type(3n+4) {
    clear: both;
  }
}
#tab-props .form-control {
  width: 100%;
}
.ft_date label {
  display: block;
}
.date-input.form-control {
  display: inline-block;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
  width: 90px;
}
.input-small { width: 65px !important; display: inline-block;}

.minicolors.minicolors-theme-default .minicolors-input {
  height: auto !important;
  display: inline-block !important;
  line-height: inherit;
}
.minicolors-theme-default .minicolors-swatch {
  top: 8px !important;
}
.city-input {
    display: inline-block;
    margin-bottom:2px;
    background:#FFF;
    height:16px;
    line-height:16px;
    padding: 4px 2px;
}

.city-input span { padding-right:20px; padding-left:2px; }
.city-input a {
    background:#68809B;
    color:#FFF;
    text-decoration:none;
    padding:1px 10px;
}
.city-input a:hover {
    background:#34495e;
}

form input.error,
form textarea.error {
    border:solid 1px #c0392b;
}

form .hint{
    color:#999;
    font-size:12px;
    margin-top:0px;
}
.field_error .form-control + .input-group-addon {
  padding-right: 25px;
}

form .input-prefix-suffix .input{
    display:inline-block;
    width:300px;
    float:left;
    border-radius:0;
}

form .input-prefix-suffix .prefix,
form .input-prefix-suffix .suffix{
    height:34px;
    padding:6px 8px;
    display:inline-block;
    float:left;
    color:#666;
    background-color:#f9f9f9;
    border:solid 1px #cccccc;
}

form .input-prefix-suffix .prefix{
    border-radius:5px 0 0 5px;
    border-right: none;
}
form .input-prefix-suffix .suffix{
    border-radius:0 5px 5px 0;
    border-left: none;
}

form .ft_captcha { overflow: hidden; margin-bottom: 0; }
form .ft_captcha input { width:100px; }
form .ft_captcha .captcha { float:left; margin-right: 10px; }
form .ft_captcha .code { float:left;  }

form .ft_file .value {
    font-size:14px;
    margin-top:5px;
}
form .ft_file .value .name {
    padding-left:20px;
    background:url("../images/icons/file.png") no-repeat;
}
form .ft_file .value .size {
    margin-left:5px;
    font-size:12px;
    color: #999;
}
form .ft_file .value .delete {
    margin-left:15px;
}

form .ft_date select {
  display: inline-block;
  padding: 2px;
  width: 50px;
}
.symbols_num {
  border-radius: 2px;
  margin-right: 2px;
  padding: 0 3px;
}
.symbols_count .overflowing {
  background-color: #e74c3c;
  border-color: #c0392b;
  color: #fff;
}
/* ========================================================================== */
/* ========================================================================== */
.position-start {
  min-width: 20px;
  text-align: center;
}
.input-users-list {
  border: 1px solid #ddd;
  border-radius: 2px;
  max-height: 400px;
  overflow: auto;
}

.input-users-list ul,
.input-users-list li {
    margin:0; padding:0;
    list-style:none;
}

.input-users-list .profile {
    padding:10px 0;
    border-bottom: solid 1px #ddd;
    clear: both;
    overflow: hidden;
}

.input-users-list .profile:last-child { border:none; }

.input-users-list .profile div{
    float:left;
    margin-right:15px;
    height:32px;
    line-height:32px;
}

.input-users-list .profile .avatar{
}

.input-users-list .profile .name{
    height:32px;
    line-height:32px;
}

/* Ajax Uploader ============================================================ */

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #FFF;
	-webkit-box-shadow:inset 0px 1px 0px 0px #FFF;
	box-shadow:inset 0px 1px 0px 0px #FFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #EDEDED) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #EDEDED 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#EDEDED');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #DDDDDD;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #FFF;
}
.qq-upload-button-hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #EDEDED 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#f9f9f9');
	background-color:#EDEDED;
}
.qq-upload-button-focus {
	position:relative;
	top:1px;
}

.qq-upload-button:active {
    position:relative;
	top:1px;
}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#B2F44A; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

/* Rating info ============================================================== */

#rating_info_window {
    padding:20px;
}

.rating_info_list .item{
    padding:6px 0;
    margin:2px 0;
    border-bottom: dashed 1px #EDEDED;
    min-width: 250px;
    overflow:hidden;
}

.rating_info_list .item:last-child{
    border:none;
}

.rating_info_list .item .score{
    display: inline-block;
    float:left;
    border-radius:4px;
    color:#FFF;
    min-width:25px;
    text-align: center;
    margin-right:10px;
}

.rating_info_list .item .score.positive{ background-color:green; }
.rating_info_list .item .score.negative{ background-color:red; }

.rating_info_list.loading-panel {
    background-color:#F4F8FD;
    background-position: center center;
    border-radius: 5px;
}
.rating_info_list.loading-panel .item{ visibility: hidden; }

.rating_info_pagination { margin-top: 20px; font-size:12px; }
.rating_info_pagination a {
    display: inline-block;
    padding:0 4px; text-decoration: none; color:#34495e; border-radius: 4px;
}
.rating_info_pagination a:hover { background-color:#EDEDED; }
.rating_info_pagination a.active,
.rating_info_pagination a.active:hover { color:#FFF; background-color: #34495e; }



/* Private Messaging Window ================================================= */
.layout {
    overflow: hidden;
}
#pm_window {
    max-width: 100%;
    min-height: 120px;
    overflow: hidden;
    width: 960px;
}
#pm_window .notice{
    margin: 20px;
}

#pm_window .right-panel,
#pm_window .left-panel {
    height:520px;
}

#pm_window .left-panel {
  overflow: hidden;
}
#pm_window .right-panel {
  background: #ecf0f1 none repeat scroll 0 0;
  overflow-x: hidden;
  overflow-y: auto;
   margin-top: 10px
}

@media (min-width: 768px) {
  #pm_window .right-panel {
    float: left;
    width: 30%;
    margin: 0;
  }
  #pm_window .left-panel {
    padding-left: 10px;
    width: 70%;
    float: right;
  }
}

#pm_window .contacts .contact{
    overflow: hidden;
}

#pm_window .contacts .contact a{
    display: block;
    overflow:hidden;
    padding:5px;
    color:#000;
    text-decoration: none;
}

#pm_window .contacts .contact a span{
    display: block;
    float:left;
    height:32px;
    line-height: 32px;
    margin-right:4px;
    overflow: hidden;
}

#pm_window .contacts .contact a:hover{
    background:#038fb2;
    color:#FFF;
}

#pm_window .contacts .contact a.selected {
    align-items: center;
    color: #fff;
    display: flex;
}

#pm_window .contacts .contact a .counter {
    height:16px;
    line-height: 16px;
    margin-top:6px;
    padding:2px 5px;
    background: #BDC3C7;
    border-radius: 10px;
    color:#FFF;
    font-size:11px;
    float:right;
}

/* ========================================================================== */

#pm_contact .overview {
    overflow: hidden;
    background-color: #ecf0f1;
    padding:6px;
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toogle-actions,
#contact_toggle {
    display: none;
}

#pm_contact .overview a {
    overflow:hidden;
    padding:5px;
    color:#000;
    border-left:none;
    border-right: none;
}

#pm_contact .overview a span {
    display: block;
    float:left;
    height:32px;
    line-height: 32px;
    margin-right:4px;
    overflow: hidden;
}

#pm_contact .actions {
    float:right;
    line-height: 28px;
}

#pm_contact .composer {
    background-color: #ecf0f1;
    padding:10px;
}

#pm_contact .composer .editor textarea{
    resize: none;
}

#pm_contact .composer .buttons {
    text-align: right;
}

#pm_contact .composer .sending {
    background: url("../images/loader16.gif") no-repeat left center;
    height: 35px;
}

#pm_contact .composer .ignored_info{
    display:block;
    padding: 10px 6px;
    color:#999;
    font-style: italic;
}

#pm_contact .composer .ignored_info .button{
    margin-left:10px;
}

#pm_contact .chat{
    position: relative;
    height: 252px;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
    padding:10px;
    padding-left: 5px;
    line-height: 20px;
}

.message {
  background: #ebf8fd;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 5px 10px;  display: flex;
}
.message .content {
    width: 100%;
}
#pm_chat h3 {
    font-size: 12px;
    margin: 5px 0 10px;
    text-align: center;
}
#pm_contact .chat .message .title{
    font-size: 11px;
    overflow: hidden;
}

#pm_contact .chat .message .title .author{ color:#bf0000; }
#pm_contact .chat .message-my .title .author{ color:#376499; }

#pm_contact .chat .message .title .date,
#pm_contact .chat .message .title .date-new {
    float: right;
}

#pm_contact .chat .message .title .date {
    color:#CCCCCC;
}

#pm_contact .chat .message .title .date-new {
    color:#d35400;
}

#pm_contact .chat a.show-older{
    display:block;
    background:#f9f9f9;
    text-align:center;
    height:25px;
    line-height:25px;
    color:#CCCCCC;
    text-decoration: none;
    margin-bottom: 15px;
}

#pm_contact .chat a.show-older:hover{
    color:#999;
    background:#EDEDED;
}


#pm_contact .chat .older-loading{
    display:none;
    height:25px;
    margin-bottom: 15px;
    background: url("../images/loader16.gif") no-repeat center center #EDEDED;
}

/* ========================================================================== */

#pm_notices_window {
    width:450px;
}

#pm_notices_list {
    padding:5px;
    overflow: hidden;
    overflow-y: auto;
}

#pm_notices_list .item {
  overflow: hidden;
  margin-bottom: 5px;
  border:1px solid #ebebeb;
}

#pm_notices_list .item:last-child{
    margin-bottom: 0;
}

#pm_notices_list .item .date{
    color:#BDC3C7;
    font-size:11px;
    padding-left:10px;
    padding-top:10px;
}

#pm_notices_list .item .content{
    padding:10px;
    padding-top:3px;
}

#pm_notices_list .item .close-button {
  float: right;
  padding: 5px;
}
#pm_notices_list .item .close-button a {
    display:block;
    width:16px;
    height:16px;
    background: url("../images/icons/close.png") no-repeat;
}

#pm_notices_list .item .close-button a:hover {
    background-position-x: -16px;
}

#pm_notices_list .item .buttons{
    padding:10px;
    padding-top: 0;
}

#pm_notices_list .item .buttons .button{
    border-color:#BDC3C7;
}

/* City Selection Window ================================================= */

#geo_window {
    padding:15px;
    height:400px;
}

#geo_window .wrapper{
    margin-top: auto;
    margin-bottom: auto;
}

#geo_window select {
  margin-bottom: 5px;
  width: 100%;
}

#geo_window .buttons{
    margin-top:10px;
    text-align: center;
}
#geo_window div.wrapper .list +.list {
  margin-top: 8px; 
}
/* Content multi cats ================================================= */

.content_multi_cats_form {
  display:none;
}

.content_multi_cats_form .list .field:last-child {
  margin-bottom:15px;
}

.content_multi_cats_form .cat_selector{
  overflow:hidden;
  margin-bottom: 10px;  
}
.content_multi_cats_form .cat_selector select {
  display: inline-block;
  margin-right: 5px;
}
.content_multi_cats_form .cat_selector a {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content_multi_cats_form .cat_selector a:before {
  content: "\e014";
}

/* Profile Wall Widget ====================================================== */

.title_bar {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 46px;
}
@media (max-width: 767px) {
  .title_bar {
    padding-left: 15px;
  }
}
.title_bar .title {
  background-color: #fff;
  color: #3b3b3b;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: -11px 0 0;
  padding: 0 10px;
}

#wall_widget {
  margin-top:40px;
}

#wall_widget #wall_add_link {
  float: right;
  color: #7b7b7b;
  margin-bottom: 15px;
}
#wall_widget #wall_add_link span {
  background-color: #d0d0d0;
  border-radius: 3px;
  color: #fff;
  padding: 8px;
  margin-left: 5px;
}
#wall_widget #wall_add_form .loading{ display: none; }

.avatar-wheel .default_avatar,
.avatar-wheel img{
  border-radius: 50%;
  overflow: hidden;
  width: 42px !important;
  height: 42px !important;
    max-width: none !important;
} 
.avatar-wheel .default_avatar:after {
    border-radius: 50%;
}
.comment-head {
  background-color: #f3f3f3;
  padding: 10px 15px;
  position: relative;
}
.comment-head:after{
  content: ''; 
  position: absolute; /* Абсолютное позиционирование */
  border: 5px solid transparent;
  border-right: 5px solid #f3f3f3; 
  left: -10px;
  margin-top: -3px;
  top: 50%;
}
.entry_user {
  font-weight: 500;
}
.has_replies a {
  display: inline-block;
  margin-left: 1px;
}
.has_replies a:hover{
  text-decoration: none;
}
.comment-head .glyphicon {
  margin-left: 5px;
}

.comment-text {
  border: 1px solid #f3f3f3;
  margin-top: 1px;
  padding: 10px 15px;
}

#wall_widget #entries_list .replies_loading {
    margin-top:12px;
    margin-bottom: 10px;
    color:#666;
    display: none;
}

#wall_widget #entries_list .replies {
    clear:both;
}

#wall_widget #entries_list .replies .entry{
    font-size:12px;
    padding:10px;
    border-left:solid 4px #ddd;
    border-bottom:none;
    margin:0;
    margin-top:10px;
    margin-left:18px;
}

#wall_widget #entries_list .replies .entry:hover{
    border-left-color:#BDC3C7;
}

#wall_widget #entries_list .replies .entry:hover .avatar{
    border-color:#BDC3C7;
}

#wall_widget #entries_list .replies .entry .info{
    margin:0; padding:0;
    padding-left:0px;
    margin-bottom: 3px;
}

#wall_widget #entries_list .replies .entry .content{
    background:none;
    margin:0; padding:0;
  max-width: 600px;
}

#wall_widget #entries_list .replies .entry .avatar{
    float:right;
    border:solid 1px #ddd;
}

/* Свойства*/
.content_item_props {
  margin: 0 -15px 15px;
}
.props-item {
  padding: 0 15px;
}
.props-head {
  border-bottom: 1px solid #c8c8c8;
  font-weight: bold;
  padding: 5px 0;
}
.content_item_props > .props-info {
  font-style: italic;
  font-weight: 500;
  padding: 0 15px;
}
.props-info2 {
  overflow: hidden;
  padding: 10px 0;
}
.props-info .title {
  float: left;
}
.props-info .value {
  float: right;
}
.props-item .props-info .value {
  font-weight: bold;
 }

.content_item_props > .props-item + .props-info,
.content_item_props > .props-info + .props-item {
  clear: both;
}
/* End Свойства*/

.modal_padding {
    padding: 10px;
    height: 180px;
}

.is_collapsed {
    transition: all 0.3s ease;
}
.is_collapse {
    position: relative;
    cursor: pointer;
}
.is_collapse > legend {
    display: block;
}
.is_collapsed > legend:after {
    content: '+';
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 16px;
}
.is_collapsed.do_expand > legend:after {
    content: '-';
}
.is_collapsed.do_expand > legend {
    cursor: pointer;
}
.is_collapse > .field {
    display: none;
}
.is_collapsed.is_collapse legend{
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
}
.align-items-center{
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1 1 auto;
}

.nav-tabs > li.active > div,
.nav-tabs > li.active > div:hover,
.nav-tabs > li.active > div:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
  margin-right: 2px;
  line-height: 1.42857143;
  padding: 10px 15px;
}

.media-white {
  background-color: #fff;
  padding: 10px;
}

.image-64 img{
  width: 64px !important;
  max-width:none !important;
}

/* channels */
.subscribers-image img{
  display: block;
  width: 40px;
  height: 40px;
  max-width: none !important;
}