/* Gorec my style */

/*--------- Widgets Content Carousel --------*/
.carousel_block .widget{ margin: 0;}
.sl_block {float:left;position:relative;}

@media (min-width: 640px) {
  .sl_style1 .sl_block:nth-child(1) {
    width:50%;
    height:282px;
  }
  .sl_style1 .sl_block:nth-child(2) {
    display: none;
  }
  .sl_style1 .sl_block:nth-child(3) {
    width:50%;
    height:141px;
  }
  .sl_style1 .sl_block:nth-child(4) {
    width:50%;
    height:141px;
  }
}
@media (min-width: 992px) {
  .sl_style1 .sl_block:nth-child(1) {
  width:50%;
  height:282px;
  }
  .sl_style1 .sl_block:nth-child(2) {
  width:25%;
  height:282px;
  display: block;
  }
  .sl_style1 .sl_block:nth-child(3) {
  width:25%;
  height:141px;
  }
  .sl_style1 .sl_block:nth-child(4) {
  width:25%;
  height:141px;
  }
}
@media (max-width: 639px) {
  .sl_style1 {
    display: none;
  } 
}

@media (max-width: 991px) {
  .sl_auto_width .sl_block {
    width: 100% !important;
  }
}
.sl_auto_width,
.sl_style3 .sl_block {
  height: 240px;
  width: 100%;
}
.sl_img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/upload/f_project/no_img_big.jpg');
  display: block;
  height: 100%;
  width: 100%;
} 
.sl_span_img {
  height: 240px;
  overflow: hidden;
  display: block;
}

.sl_span_img img {
  height: 240px;
  /*width: auto !important;*/
}

.sl_info{
  position:absolute;
  bottom:0;
  width: 100%;
}
.sl_cat {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 15px;
  position: relative;
  text-transform: uppercase;
}
.sl_cat a {
    color: inherit;
}
.sl_desc {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}
.sl_desc_hover {
  display: block;
  max-height: 40px;
  color: #fff;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out 0s;
}
.sl_desc_hover:hover {
  color: #fff;
}
.sl_desc:hover .sl_desc_hover{
  max-height: 100px;
}

/*---------End Widgets Content Carousel --------*/


/*--------- Widgets Photo Carousel --------*/
.sl_photo {
  margin-bottom: 8px;
}
.sl_photo .sl_desc {
  padding:7px 10px 6px;
}
.sl_rating {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  text-transform: none;
}
.sl_rating .glyphicon {color: #fff;}
.sl_a, .sl_a:hover {color: #fff;}
.sl_user_ico { font-size:10px; top: 0px;}

.sl_photo_control .owl-stage {
  width: 110% !important;
  background-color: #e8e8e8;
}
.sl_photo_control .owl-prev {
  position: absolute;
  top: 22px;
}
.sl_photo_control .owl-next {
  position: absolute;
  right: 0;
  top: 22px;
}

/*---------End Widgets Photo Carousel --------*/

/* Widget User ========================== */
.flex-images { overflow: hidden; }
.flex-images.wd_pf_list {margin:0 -5px;}
.flex-images .wd_pf_item { float: left; margin: 5px; border: 1px solid #eee; box-sizing: content-box; overflow: hidden; position: relative;  }
.flex-images .wd_pf_item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.wd_online_list {
  margin:-3px;
}
.item-avatar {
  border: 1px solid #eee;
  box-sizing: content-box;
  float: left;
  margin: 3px;
  overflow: hidden;
  position: relative;
}
.default_avatar {
    position: relative;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    display: flex;
	align-items: center;
	justify-content: center;
    background: no-repeat center;
    background-size: 1em;
}
.default_avatar img {
    opacity: 0; display: block;
}
.default_avatar:before {
    content: attr(data-letter);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.default_avatar.white_avatar_text:hover:after {
    background: #000;
    opacity: 0.4;
}
.default_avatar.black_avatar_text:after, .default_avatar.white_avatar_text:after {
    transition: all 0.5s ease;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.default_avatar.black_avatar_text:hover:after {
    background: #FFF;
    opacity: 0.2;
}
.users-item .icon img,
.default_avatar img {
  min-width: 32px !important;
}

/* users/widgets/avatar/avatar.tpl.php ========*/
.menu-avatar-span {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 50%;
  color: rgb(11, 153, 188);
  display: block;
  font-size: 22px;
  height: 40px;
  padding: 2px;
  width: 40px;
}
.menu-avatar-span .default_avatar,
.menu-avatar-span img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.head-trian .nav li .menu-avatar-a {
  margin-left: 13px;
  padding: 5px 0;
}
@media (max-width: 767px) {
  .head-trian .nav li .menu-avatar-a {
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  .head-trian .nav li .menu-avatar-a:hover {
    background-color:#008aad; 
  }
}
.menu-icon a:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.balance-rub > a:before {
  content: "\20bd";
}
.menu-icon-play > a:before {
  content: "\e072";
}
.menu-icon-book > a:before {
  content: "\e043";
}

/* categories.tpl.php ========== */

.wd_cont_tree_ul,
.wd_cont_tree_ul ul {
  margin:0;
  padding:0;
  list-style:none;
}

.wd_cont_tree_ul li a {
  background-color:#fff;
  border-bottom: 1px solid #ddd;
  color: #3b3b3b;
  display: block;
  list-style: none outside none;
  margin-left: 0;
  padding: 10px;
}
.wd_cont_tree_ul > li:last-child > a {
border-bottom: 0;
}
.wd_cont_tree_ul li li a {
  padding: 8px 20px;
}
.wd_cont_tree_ul li.active > a ,
.wd_cont_tree_ul li a:hover {
  background-color:#f5f5f5;
  color: #d35400;
  text-decoration: none;
}

/* Aside Menu *********************************/
.navbar-user-info {
  display: none;
}
.aside .navbar-nav {
 background-color: #fff;
}
.aside .navbar-nav,
.aside .navbar-nav > li {
  float: none;
  margin-left: 0;
  margin-right: 0;
}
.aside .navbar-nav > li + li  {
  border-top: 1px solid #f5f5f5;
}

.aside .navbar-user > li > a {
  overflow: hidden;
}
.aside .nav.navbar-user > li > a:hover, 
.aside .nav.navbar-user > li > a:focus {
    background-color: #3b3b3b;
}
.aside .menu-avatar-span {
  float: left;
}
.aside .navbar-user-info {
  color: #fff;
  float: left;
  margin-left: 10px;
  display: block;
}
.aside .nav > li > a:hover, .aside .nav > li > a:focus {
  background-color: #f5f5f5;
  transition: all 0.2s ease 0s;
}
@media (min-width: 992px) {
.aside ul .dropdown .dropdown-menu {
  left: auto;
  right: 100%;
  top: 0;
  margin: 0;
}
.aside ul .dropdown:hover > .dropdown-menu {
  display: block;
}
}
@media (max-width: 991px) {
  .aside .nav li > .item > .caret {
    display: none;
  }
.aside .dropdown-mobile {
  position: absolute;
  right: 0;
  top: 0;
}
.aside .dropdown .dropdown .dropdown-mobile {
  display: none;
}
}

/* End Aside Menu *****************************/



    /*====================*/
   /*====================*/
  /* Gorec my style END */
 /*====================*/
/*====================*/






#left_aside {
background-color:#fff;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

@media (min-width: 992px) {
  #left_aside {
    margin-bottom:-10px;
  }
}

#left_aside .wd_title {
text-align:center;
color: #fff;
}
.section .wd_title,
#left_aside .wd_title {margin-left: -15px;}
#right_aside .widget .body {background:#fff; padding:10px; }

@media (max-width: 991px) {
  #right_aside .widget:first-child {
    margin-top:20px;
  }
}
#left_aside .links a:hover{
  text-decoration: none;
}
#subfooter .wd_content_list .title a {
color: #3b3b3b;
font-weight: bold;
display: block;
line-height: 16px;
margin-bottom: 2px;
}


@media (max-width: 992px) {
#subfooter .col-module {padding-bottom:20px;}
}
#subfooter .list-info {margin-bottom: 0;}

.list-info {
list-style:none;
margin: 0 0 0 -1px;
padding-left: 0;
}
.list-info *{
color:#999;
font-size: 12px;
}
.list-info > li {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}


#subfooter .wd_content_list img {width:50px;}


/*--------- Widgets_comments --------*/
.wg_comm .subject {
  color: #484848;
  display: inline-block;
  font-size: 12px;
  line-height: 1.3;
}
.wg_comm .subject:hover {text-decoration:none;}

.wg_comm .glyphicon-user{color:#428bca;}
.comments-heading{line-height:1;margin-bottom:4px;}
.wg_comm .media {margin-top: 8px;padding-bottom: 8px;border-bottom:1px solid #e8e8e8;}
.wg_comm .media:first-child {
  margin-top: 0;
}

/* Widgets layout =========================================================== */

.widget {
  margin-bottom:25px;
}

.wd_title {
  background-color: #fff;
  font-weight: bold;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.carousel_block .wd_title {
  margin-bottom: 0;
}
.wd_title .links {
    float:right;
    font-size:13px;
}
.wd_title .links a:hover {
  text-decoration: none;
}
.widget_text_block{
    overflow: hidden;
}
section .wd_title {margin-left: -15px;margin-bottom: 10px;}
aside .wd_title {
  margin-bottom: 10px;
  margin-right: -15px;
}


/* Tabbed Widgets layout ==================================================== */
.widget_tabbed {margin-bottom:10px;}
.wd-tab {
background-color:#fff;
margin:0 0 15px -15px;
padding-left: 6px;
}
.wd-tab > li {float:left;}
.wd-tab > li > a {
font-weight: bold;
padding: 11px 9px;
text-transform: uppercase;
font-size:12px;
}
.wd-tab > li.links {
  float: right;
  margin: 0 5px 0 0;
}
.links.open span,
.links a:hover span {
  color: #d40e52;
}
/* Widgets styles =========================================================== */
.wd_content_list,
.wd_cont_info {
  overflow: hidden; 
}

.wd_content_list .item {
  margin-bottom: 10px;
  overflow: hidden;
}
.wd_content_list .item:last-child { margin-bottom: 0; }
.wd_content_list .item .image { float:left; padding-right: 10px; }
.wd_content_list .item .image img { display: block; }

.cn_basic .item .image img {
  width: 50px;
}

.wd_content_list .item .image > a {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}
.wd_content_list .item .title a {
font-weight: bold;
line-height: 1.2;
color:#3b3b3b;
display: block;
}

.wd_content_list .item .title a:hover {text-decoration:none;}
.wd_content_list .read-more a:hover { border-bottom: 1px dotted #3b3b3b;text-decoration:none;}
/* Widgets featured =*/ 
.featured .item {
  margin-bottom: 10px;
  overflow: hidden;
}

.featured .item:nth-child(4) { clear:left; }

.teaser {font-size:12px;line-height:1.26;padding:4px 0 2px;}
.featured .item-first {width:100%;}
.featured .item-first .image {
margin:0;
float: left;
height: 150px;
padding-right: 10px;
width: 50%;
}
.featured .item-first .info {
  float: left;
  width: 50%;
}

@media (min-width: 480px) {
.featured .item {
  float: left;
  width: 50%;
}
}
@media (min-width: 480px) {
  .featured_2 .item-first {width:50%;}
}
.featured_2 .item-first .image{width:100%;margin-bottom:10px;}
@media (max-width: 767px) {
  .featured_2 .item-first .image{height: auto;}
  .featured_2 .item-first .image a {
    background:transparent !important;
}
}
.featured_2 .item-first  .info  {padding-right: 10px; width:100%;}
.featured_2 .item:nth-child(4) { clear:none; }

/* Widgets medium_col =*/ 
.medium_col .item {margin-bottom: 30px;}
.medium_col .image {height: 140px;width:50%;}
.medium_col .item .info {float: left;padding-left: 10px;width: 50%;}

/* Widgets col_prefix =*/ 
.wd_content_list.col_prefix {margin:0 -10px;}

.item-lg-6 .item, .item-md-6 .item, .item-sm-6 .item,
.item-lg-4 .item, .item-md-4 .item, .item-sm-4 .item, 
.item-lg-3 .item, .item-md-3 .item, .item-sm-3 .item,  .item-xs .item {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

@media (max-width: 479px) {
  .item-xs .item {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .item-xs .item {
    width: 50%;
  }
  
}
@media (min-width: 480px) and (max-width: 767px) {
  .item-xs .item:nth-of-type(2n+3) { clear: both; }
}

@media (min-width: 768px) {
  .item-sm-6 .item {
    width: 50%;
  }
  .item-sm-4 .item {
    width: 33.33333333%;
  }
  .item-sm-3 .item {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item-sm-4 .item:nth-of-type(3n+4),
  .item-sm-3 .item:nth-of-type(4n+5),
  .item-sm-6 .item:nth-of-type(2n+3) { clear: both; }
}
@media (min-width: 992px) {
  .item-md-6 .item {
    width: 50%;
  }
  .item-md-4 .item {
    width: 33.33333333%;
  }
  .item-md-3 .item {
    width: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item-md-6 .item:nth-of-type(2n+3)
  .item-md-4 .item:nth-of-type(3n+4),
  .item-md-3 .item:nth-of-type(4n+5) { clear: both; }
}

@media (min-width: 1200px) {
  .item-lg-6 .item {
    width: 50%;
  }
  .item-lg-4 .item {
    width: 33.33333333%;
  }
  .item-lg-3 .item{
    width: 25%;
  }
.item-lg-6 .item:nth-of-type(2n+3),
.item-lg-4 .item:nth-of-type(3n+4),
.item-lg-3 .item:nth-of-type(4n+5) { clear: both; }
}

.col_prefix .item {padding:0 10px;}
.col_prefix .item .image {height:160px;width:100%;padding:0;margin-bottom:10px;float:none; position:relative;}

.col-cn-2 .col_prefix .item { float:left; width:50%; }
.col-cn-3 .col_prefix .item { float:left; width:31%; }
.col-cn-4 .col_prefix .item { float:left; width:22%; }
.col-cn-2 .col_prefix .item:nth-child(3),
.col-cn-3 .col_prefix .item:nth-child(4), 
.col-cn-4 .col_prefix .item:nth-child(5) { clear:left; }

.image .info_on_img {
  background: linear-gradient(to top, #000000, rgba(10, 10, 10, 0));
  bottom: 0;
  height: 70%;
  position: absolute;
  width: 100%;
}
.info_on_img .title {
  bottom: 0;
  padding: 4px 6px;
  position: absolute;
}
.image .info_on_img .title a {
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  max-height: 32px;
  overflow: hidden;
  text-transform: uppercase;
}


.tiles-big .item .image {
  margin-bottom: 5px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.tiles-big .item .image a {
  background-color: transparent;
}
.tiles-big .item .image a img {
  margin: 0;
}
.tiles-big-a{
  color: #3b3b3b;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  height: 36px;
  overflow: hidden;
}
@media (min-width: 460px) {
  .tiles-big .item .image { 
    height:140px; 
    overflow:hidden;
  }
  .tiles-big .item .image img {
    min-height: 100%;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .tiles-big .item .image {
      height: 158px;
  }
}




.wd-compact-title{ font-size:13px; margin-bottom: 0; line-height: 15px; }

/* ========================================================================== */

.widget_content_slider { overflow: hidden; position: relative;}
.widget_content_slider .slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.widget_content_slider >table {
  width: 100%;
}
.widget_content_slider .slide img {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.widget_content_slider .slide img:first-child {
    display:block;
}
.widget_content_slider .slide .heading {
    float:left;
    display:inline-block;
    padding:10px;
    background:rgba(0,0,0,0.85);
    width:100%;
}

.widget_content_slider .slide .heading h2,
.widget_content_slider .slide .heading .teaser{
    display: inline-block;
    margin:0;
    color:#ecf0f1;
}

.widget_content_slider .slide .heading h2 {
    font-size:14px;
    font-weight: bold;
    color:#f1c40f;
}

.widget_content_slider .slide .heading .teaser{
    font-size:12px;
}

.widget_content_slider .slide .heading .teaser .date{
    color: #7f8c8d;
    padding-left: 10px;
}

.widget_content_slider .items {
  background:#ecf0f1;
  position: relative;
  z-index: 2;
}

.widget_content_slider .items .item {
    overflow: hidden;
    padding:10px;
    font-size:12px;
    line-height:15px;
    cursor:pointer;
    position:relative;
}

.widget_content_slider .items .item:hover {
    background:#bdc3c7;
}

.widget_content_slider .items .item .title {
    display:block; vertical-align:middle;
    margin-top:1px;
    color:#000;
}
.widget_content_slider .items .item.active .title {
    color:#FFF;
}
@media (max-width: 767px) {
  .widget_content_slider .items .item .title { 
    display:none; 
  }
}
@media (min-width: 768px) {
  .widget_content_slider .slide {
    width: 60%;
  }
  .widget_content_slider .items {
    width: 40%;
  }
  .widget_content_slider .items .item .image {
      float:left; margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .widget_content_slider .items .item {
    padding: 8px;
  }
  .wg_sl_title {
    display: block;
    height: 32px;
    overflow: hidden;
  }
}
/* ========================================================================== */

.widget_activity_list { overflow: hidden; }

.widget_activity_list h4 { margin:0; margin-bottom: 5px; }

.widget_activity_list .item { margin-bottom: 10px; overflow: hidden; }
.widget_activity_list .item:last-child { margin-bottom: 0; }

.widget_activity_list .item > .image { float:left; margin-right: 10px; padding:2px; border:solid 1px #B3C2C9; }
.widget_activity_list .item > .image img { display: block;}
.widget_activity_list .images img { max-width: 100%;
  height: auto;
  display: block;}
.widget_activity_list .item .info { line-height:17px; padding-top:2px; }

.widget_activity_list .item .title{ }
.widget_activity_list .item .title a.author{ color:#376499; }
.widget_activity_list .item .title a.author:hover{ color:#d35400; }

.widget_activity_list .item .details { font-size:11px; }
.widget_activity_list .item .details .date { color:#999; }
.widget_activity_list .item .details .reply {
    padding-left: 5px;
}
.widget_activity_list .item .details .reply a {
    color:#BDC3C7;
}

.widget_activity_list .item .details .reply a:hover {
    color:#d35400;
}

.widget_activity_list .item .images { overflow: hidden; margin:10px 0; padding-left:48px; }
.widget_activity_list .item .images .image {
    float:left; margin-right:2px;
    display:block; overflow: hidden;
}
.widget_activity_list .item .images .image.more {
    background: #ecf0f1;
    text-align: center;
    line-height: 64px;
    font-size:18px;
}
.widget_activity_list .item .images .image.more a {
    display:block; width: 64px; height:64px; overflow: hidden;
    color:#7f8c8d;
    text-decoration: none;
}
.widget_activity_list .item .images .image.more a:hover {
    color:#2c3e50;
}
.widget_activity_list .item .images .image.more a span{
}

.widget_activity_list .item .actions {
    float:right;
    visibility: hidden;
}

.widget_activity_list .item:hover .actions {
    visibility: visible;
}

.widget_activity_list .actions .delete{
    display:inline-block;
    width:16px;
    height:16px;
    background:url("../images/icons/delete.png") no-repeat center;
}



/* =============================  delete          ============================================= */

.widget_user_avatar .user_info {
    overflow: hidden;
    clear:both;
    margin:-15px;
    padding:6px;
    margin-bottom: 10px;
    background:#34495E;
}

.widget_user_avatar .user_info .avatar{
    float:right;
}

.widget_user_avatar .user_info .name {
    height:32px;
    line-height: 32px;
    padding-left:10px;
}

.widget_user_avatar .user_info .name a {
    color:#FFF;
    text-decoration: none;
    font-size:12px;
    font-weight: bold;
}

/* ========================================================================== */

.widget_content_filter .title{
  font-weight: bold;
  color:#34495e;
  margin-bottom:4px;
}

.widget_content_filter .field {
  margin-bottom: 10px;
}

.widget_content_filter .input {
  width:95%;  
}

.widget_content_filter .ft_date .value,
.widget_content_filter .ft_number .value {
  font-size:12px;
}

.widget_content_filter .ft_date button{
  display:none;
}

.widget_content_filter .date-input,
.widget_content_filter .input-small{
  width:60px !important;
}

.widget_content_filter .buttons { 
  margin-top:20px;
  font-size:12px;
}

.widget_content_filter .buttons input { 
  margin-right: 10px; 
}

.dropdown-breadcrumbs {
  position: absolute;
  right: 2px;
  top: 4px;
}
.dropdown-breadcrumbs .btn{
  border-color: transparent;
}
.dropdown-menu .navbar-nav{
  margin: 0;
}
.dropdown-menu .navbar-nav > li{
  float: none;
}.dropdown-menu .navbar-nav > li +li {
   border-top: 1px solid #f5f5f5;
 }
.dropdown-menu .navbar-nav .item{
  white-space: nowrap;
  display: block;
  padding: 10px 15px;
}