.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
    z-index: 1100;
}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: -33px;
	right: -33px;
	width: 33px;
	height: 33px;
	text-indent: -9999em;
	background: url("../images/modal/close.png") center center no-repeat;
    z-index: 1200;
}
.nyroModalTitle {
  background: #fff none repeat scroll 0 0;
  color: inherit;
  font-size: 1.1em;
  left: 0;
  margin: 0;
  padding: 8px 15px;
  top: -32px;
  z-index: 100;
}
.nyroModalCont {
	position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1200;
  	background-color: #fff;
}

.nyroModalCont .notice{
    padding:20px;
    color:#BDC3C7;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	max-width: 1000px;
	min-width: 300px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(../images/modal/ajaxLoader.gif) no-repeat center;
	padding: 0;
    z-index: 200;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
	display: block;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url(../images/modal/prev.gif);
	background-position-y: 47%;
}
.nyroModalNext {
	right: 0;
}
.nyroModalNext:hover {
	background-position-y: 47%;
	background-position-x: right;
	background-image: url(../images/modal/next.gif);
}


#success_parse_queue_form .modal,
.nyroModalData .modal,
#import_wrapform_data .modal,
form.modal {
display: block;
overflow: visible;
position: static;
z-index: 1;
}