/* Gorec my style */

h1,
.cont_head {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}
.cont_title {
  color: #3b3b3b;
  font-size: 24px;
  margin: 5px 0 10px;
}

.nav-filtr {
  margin-bottom: 10px;
}
.nav-filtr > li {
  float: left;
  margin-left: -15px;
}
.nav-filtr a {
  color: #888;
}
.nav-filtr .active a,
.nav-filtr li a:hover {
  background-color: transparent;
}
/* Field */
.field_left {
  display: flex;
  justify-content: space-between;
}

/* default_list_tiles.tpl.php ==================================================== */

.content_title {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 10px;
}
.cont_item_img_left {
  float: left;
  margin: 4px 15px 6px 0;
  max-width: 300px;
}

.cont_item_img_right {
  float: right;
  margin: 4px 0 6px 15px;
}

.cont_item_img_center {
  margin: 0 -15px 10px;
}
.cont_item_img_center img{
  width: 100%;
}
.tiles_photo { 
  height:140px; 
  overflow:hidden;
}
@media (max-width: 464px) {
  .tiles_photo { 
    height:auto;   
  }
}
.tiles_photo_private {
  background-color: #fff;
  padding-top: 5px;
  text-align: center;
}
.tiles_photo_private > img {
  max-height: 100%;
  width: auto;
}
.height-tiles {
    max-height: 40px;
    display: block;
    overflow: hidden;
    line-height: 1.2;
}
@media (max-width: 464px) {
  .height-tiles { 
    height:auto;   
  }
}
@media (min-width: 1200px) {
    .tiles_photo {
        height: 170px;
    }
}
.tiles_photo img {
  min-height: 100%;
  width: 100%;
}
.tiles_photo_no_img {
  background: #fff;
  display: block;
}
.tiles_photo_no_img > img {
  display: block;
  height: 170px;
  margin: 0 auto;
  width: auto;
}
.tiles_fields {
  background-color: #fff;
  padding: 6px 12px;
}
.tiles_date{
    color: #888;
    font-size: 11px;
}
.tiles_fields .title {
  color: #3b3b3b;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 5px;
}

.tiles_info_bar {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 7px;
}
.tiles_info_bar * {
  color: #acacac;
  font-size: 12px;
}
.tiles_info_bar li:hover * {
  cursor: pointer;
}
.parent_title{color:#3b3b3b; }


/* default_list_table.tpl.php ==================================== */

.content_list.table table tr.is_vip td { background: #ffffd3; }
.content_list.table table tr.is_vip td a { color:#352c19; }
.content_list.table table tr.is_vip td a:hover { color:#F60; }
.content_list td.photo a {
    display:block;
    width: 64px; height:64px;
    background:url("../images/nophoto.png") no-repeat center;
}
.content_list .table td {vertical-align: middle;}


/* default_list_wookmark.tpl.php ===================================*/
#wookmark-gallery {
  overflow: hidden;
}
.wookmark_item.news_list_item {
  top: 1000px;
  position: absolute;
  transition: top 0.2s ease 0s;
}
.wookmark_div {
  position: relative;
  background-color: #fff;
}
.wookmark_fields {
  padding:10px;
  background-color: #f3f3f3;
}
.wookmark_img > img{
  width: 100%;
  display: block;
  height: auto;
}
.wookmark_img_price {
  background: #fff;
  color: #d40e52;
  font-weight: bold;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
}
.wookmark_only_price {
  background-color: #f3f3f3;
}
.wookmark_only_price .wookmark_img_price {
  display: inline-block;
  left: 0;
  margin-top: 5px;
  padding: 5px 10px;
  position: relative;
  top: 0;
}
.f_title > .value {
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}
.f_title a {
  color: #3b3b3b;
}


/* default_list_blogs.tpl.php ===================================== */
.cont_blogs_item {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 50px;
  padding-bottom: 5px;
}
.blogs-items-photo {
  margin: 0 -15px 10px;
  text-align: center;
  position: relative;
  min-height: 90px;
}
.blogs-items-photo img{
  margin: 0 auto;
}
.blogs-photo-info {
  background: rgba(250, 250, 250, 0.8) ;
  padding:10px;
}
.blogs-photo-absolut {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding:0 10px 10px;
}
.blogs-photo-absolut .avatar-wheel {
  margin-top: -20px;
}
.cont_blogs_item .read-more {
  display: block;
  padding: 0;
}
.read-more {
  padding: 0 5px;
}
/* users_profiles_list ============================================== */
#users_profiles_list {
  border-top: 10px solid #e8e8e8;
  margin: 0 -15px -10px;
}
.users-item {
  border-top: 5px solid #e8e8e8;
  margin: 0 !important;
  padding: 5px 15px;
  overflow: visible;
}
.users-item-link {
  font-style: 18px;
  font-weight: 500;
}

.cont_cat_filter {
  float: right;
  margin-top: 5px;
}
.cont_cat { margin:0; padding:0; list-style: none; }

.cont_cat > li {
  float: left;
  display: block;
  position: relative;
}
.cont_cat li a {
  color: #888888;
  padding: 10px 8px;
  display: block;
}
.cont_cat li a .glyphicon {
  color: #d0d0d0;
}
.cont_cat li a:hover {
  text-decoration: none;
}

/* flexMenu ==================================================== */
.flexMenu-popup {
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.flex > li > .flexMenu-popup {
    left: 5px;
    right: auto ;
    margin-top: -1px;
}
.flex > li + li > .flexMenu-popup {
    left: auto;
    right: 0;
    margin-top: -1px;
}

.flexMenu-popup > li > a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}
.flexMenu-popup > li > a:hover, .flexMenu-popup > li > a:focus {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}
/* albums_list.tpl Photo ==================================================== */
.cont_albums_title {
  color: #d40e52;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}
.albums_item .f_content { color: #888;}
.albums_list .photo {
  overflow: hidden;
  position: relative;
}
.albums_list .photo img {
  display: block;
  height: auto;
  max-width: 100%;
}
.photos_count {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 8px;
}
.photo-note {
  background-color: rgba(250, 250, 250, 1);
  bottom: -100%;
  padding: 5px 10px;
  position: absolute;
  transition: all 0.4s ease 0s;
  left: 0;
  right: 0;
  border-bottom: 1px solid #eeeeee;
}

.photo:hover .photo-note{
  bottom: 0;
}
.photo-info {
  background-color: #fff;
}
.photo-info a:hover {
  text-decoration: none;
}
.photo-info .field + .field {
  margin-top: 5px;
}
#gallery figure {
  background: url("../img/no_img_64.jpg") no-repeat center;
}
/* info-bar ====================================*/
.info-bar-user {
  border-top: 1px solid #e8e8e8;
  margin: 0 10px;
  padding: 5px 0;
}

.info-bar-style1 {
  margin: 0;
  padding: 5px 10px;
}
.avatar-circle {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 50%;
  color: rgb(11, 153, 188);
  display: inline-block;
  height: 36px;
  width: 36px;
}
.avatar-circle .default_avatar,
.avatar-circle img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.avatar-circle .default_avatar:after {
    border-radius: 50%;
}
.category_posts {
  background: #fff;
  margin: 0;
}

/* Redactor ================================================================= */
.redactor-editor video, .redactor-editor img {
  width: 100% !important;
}

@media (min-width: 768px) {
    .redactor-editor video, .redactor-editor img {
    max-width: 600px !important;
  }
}
.redactor-box.redactor-box-fullscreen {
  z-index: 1200 !important;
}
.redactor-box .redactor-toolbar, .redactor-dropdown {
  z-index: 1 !important;
}
/* Gorec my style END */

/* ========================================================================== */

.content_item_parent_title{
    margin:0;
    font-weight: normal;
}

.content_item_parent_title a { color:#BDC3C7; }
.content_item_parent_title a:hover { color:#d35400; }


.content_item .field{
    margin-bottom: 15px;
    overflow:hidden;
}

.content_item .field .title_left,
.content_item .field .title_top,
.content_list .field .title_left,
.content_list .field .title_top
{ font-weight: bold;}

.content_item .field .title_left,
.content_list .field .title_left
{ float:left; margin-right: 10px; }

.content_item .field .title_top,
.content_list .field .title_top
{ margin-bottom:5px; }

.content_item .field.left_field{
  float: left;
  margin-right: 15px;
}
.content_item .field.right_field{
  float: right;
  margin-left: 15px;
}
/* ========================================================================== */

.content_item .ft_text, .content_item .ft_html {
  overflow: visible;
}


.content_item .ft_html .value table {
    border-collapse: collapse;
}

.content_item .ft_html .value table th,
.content_item .ft_html .value table td {
    padding: 10px;
    border:solid 1px #CCC;
}

.content_list_item .ft_html a.read-more {
    display: block;
    margin:5px 0;
}

.ft_file .value .size {
    margin-left:5px;
    font-size:12px;
    color:#999;
}

.ft_date .value .time {
    padding-left:16px;
    background:url("../images/icons/clock-small.png") no-repeat left center;
}

.ft_color .color-block{
	display:inline-block;
	width:32px;
	height:16px;
	border:solid 1px #000;	
}

/* ========================================================================== */

.cont_list_item {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  color: #666;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.cont_list_photo{
  margin-right: 10px;
  height: 140px;
  width: 220px;
  margin-bottom: 5px;
}
.cont_list_private img{
  max-height: 100%;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .cont_list_photo{
    float:left;
    margin-bottom: 0px;
  }
}

.cont_list_photo a {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  background-position: center;
}
.cont_list_fields {
    overflow: hidden;
}
.content_list_item .ft_caption h1,
.content_list_item .ft_caption a.parent_title,
.cont_list_item .ft_caption a {
  color: #3b3b3b;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 5px;
}
.content_list_item .ft_caption h1 {margin: 0;} /* no */
.cont_list_item p:last-child { margin-bottom: 0; }

.default_list .tags_bar a,
.default_list .info_bar a {
    color: #3b3b3b !important;
}

/* default_list_boards ====================================================== */
.board-list-item {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.board-list-photo {
  height: 180px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}
.board-list-private {
  background-size: contain !important; 
}
.board_list_fields {
  overflow: hidden;
  background: #f3f3f3;
  position: relative;
}
.board_list_fields_top {
  padding: 15px;
}
.board_f_title a {
  color: #3b3b3b;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}
.board_list_fields .f_price .title_left {
  padding:5px 0;
}
.board_list_fields .f_price .value{
  background: #fff;
  color: #d40e52;
  font-weight: bold;
  display: inline-block;
  padding:5px 10px;
}
.board_list .is_vip {
  border: 5px solid #0b99bc;
}
.board_list_item.is_vip::after {
  background-color: #0b99bc;
  color: #fff;
  content: "VIP";
  font-size: 1.5rem;
  font-weight: bold;
  left: 0;
  padding: 0 15px 5px 10px;
  position: absolute;
  top: 0;
}
.board-info {
  margin: 0;
  background: #fff none repeat scroll 0 0;
  padding: 5px 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.board-info-user{
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

@media (min-width: 640px) {
.board_list_fields .f_content {
  max-height: 40px;
  overflow: hidden;
}
  .board_list_fields {
    height: 180px;
    overflow: hidden;
    background: #f3f3f3;
  }
  .board_list_height {
    max-height: 115px;
    overflow: hidden;
  }
  .board-list-photo {
    float: left;
    width: 250px;
  }
  .board_fields_img .board_list_fields_top {
    padding-bottom: 55px;
  }
  .board_fields_img .board_list_fields_top {
    margin-left: 15px;
  }
  .board_fields_img .board-info {
    padding-left: 30px;
  }
  .board_f_teaser {
    height: 40px;
    overflow: hidden;
  }
  .board-info {
    bottom: 0;
    height: 46px;
    position: absolute;
    right: 0;
	left: 0;
  }
}

@media (max-width: 639px) {
  .board-list-item {
   /* max-width: 300px;*/
  }
  .board-list-photo {
    height: 180px;
  }
}
/* ========================================================================== */
.content_list_rss_icon{ float:right; }

.content_list_rss_icon a {
    width:16px;
    height:16px;
    display: block;
    overflow:hidden;
    text-indent: 20px;
    background:url("../images/icons/rss.png") no-repeat left center;

}

/* ========================================================================== */
.content_list.featured .first{
    padding:15px;
    background:#ecf0f1;
}
.content_list.featured .first .ft_caption a{
    font-size:24px;
}
.content_list.featured .first .fields {
    float:left;
    width:48%;
}
.content_list.featured .first .photo {
    float:right;
    width:48%;
    margin:0;
}
.content_list.featured .first .photo img {
    width:100%;
}
.content_list.featured .first .f_title{
}
.content_list.featured .first .info_bar{
    clear:both;
}
.content_list.featured .first .info_bar .bar_item:first-child{
    padding-left:0;
}

/* ========================================================================== */

.content_moderation_notice{
    color:#666666;
    padding-left:20px;
    background-position: left center;
    background-repeat: no-repeat;
    float:right;
    margin-top:-26px;
}

.content_moderator_info{
    font-size:12px;
    color:#666;
    font-style: italic;
}

/* ========================================================================== */

/* InstantCMS Video*/

#item-info {
overflow: hidden;
}
#view_embed_code {
background-color: #fff;
cursor: text;
}
.is_hd {
border-radius: 0;
}
.tabs-menu .nav-tabs {
margin-bottom: 20px;
}
.radio-inline, .checkbox-inline {
position: relative;
}
.input_checkbox_list .checkbox-inline:first-child {
  margin-left: 10px;
}
#privacy_select select {
  margin: 0 auto;
  width: 40%;
}
.nyroModalCont .modal,
#success_parse_queue_form .modal,
.nyroModalData .modal,
#import_wrapform_data .modal {
  display: block;
  overflow: visible;
  position: static;
  z-index: 1;
}
#import_wrapform_data fieldset {
  background-color: #fafafa;
  margin-bottom: 15px;
  padding: 10px;
}
.success_parse_block,
.parse_action.tooltip {
  display: block;
  height: 100%;
  line-height: 140px;
  opacity: 1;
  right: 0;
  width: 10%;
  z-index: 1;
}
.nyroModalTitle {
  z-index: 1200 !important;
}

/* не понятно к чему относятся эти стили*/
.content_list_item .info_bar .bi_count{
    font-weight: bold;
}

/* ========================================================================== */
.content_list_item .info_bar .bi_not_approved,
.content_item .info_bar .bi_not_approved{
    color:#c0392b;
}
.video_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.video_wrap {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    overflow:hidden;
}

.content_list_item .info_bar .bi_not_pub,
.content_item .info_bar .bi_not_pub{
    color:#d35400;
}

/* ========================================================================== */

#content_bind_form {
    padding:15px;
}
#content_bind_form .find {
    margin:0;
    padding: 0;
}

#content_bind_form .loading-icon {
    margin-top: 5px;
}

#content_bind_form .filter-tabs {
    margin-top: 10px;
}
#content_bind_form .filter-tabs ul {
    margin-bottom: 10px;
}
#content_bind_form .filter-tabs li {
    font-size:12px;
    padding: 4px 6px;
    height:16px;
    line-height:16px;
    margin-right: 2px;
}
#content_bind_form .filter-tabs li.active a {
    text-decoration: underline;
}

#content_bind_form .result-pane {
    height:180px;
    border: solid 1px #ECECEC;
    padding:2px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
#content_bind_form .result-pane .loading {
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    background:url("../images/loader24.gif") no-repeat center center rgba(255,255,255,0.75);
}

#content_bind_form .result-pane ul,
#content_bind_form .result-pane ul li {
    list-style: none;
    margin:0; padding:0;
}
#content_bind_form .result-pane ul li {
    padding:10px;
    border-bottom: solid 1px #EFEFEF;
    position:relative;
}
#content_bind_form .result-pane ul li:last-child {
    border-bottom: none;
}
#content_bind_form .result-pane ul li .title {
    font-size:14px;
    font-weight:bold;
    margin-bottom:4px;
}
#content_bind_form .result-pane ul li .details,
#content_bind_form .result-pane ul li .details a {
    font-size:11px;
    color:#888;
}
#content_bind_form .result-pane ul li .details a:hover {
    color:#444;
}
#content_bind_form .result-pane ul li .add {
    position: absolute;
    right:10px;
    top:10px;
}
#content_bind_form .buttons {
    margin-top:10px;
    visibility: hidden;
}

.tiles,
.wookmark_item,
.content_list > .media {
    border: 1px solid #e8e8e8;
}

.spoiler {
  margin-bottom: 1rem;
}
.spoiler > input + label:before {
  content: '+';
  float: left;
  font-weight: bold;
  width: 15px;
}
.spoiler > input:checked + label:before {
  content: '-';
}
.spoiler > input, .spoiler > input + label + .spoiler_body { display:none; }
.spoiler > input + label , .spoiler > .spoiler_body {
  background-color:#e8e8e8;
  padding:5px 10px;
  overflow:hidden;
  width:100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 0;
}
.spoiler > input + label { cursor: pointer; }
.spoiler > input:checked + label + .spoiler_body{ display: block; }
.spoiler > .spoiler_body {
  border: 2px solid #fff;
  border-top: none;
  background-color: transparent;
}

.title_top {
  margin-bottom: 10px;
}
.ft_images .value{
  display: flex;
  flex-wrap: wrap;
}
.ft_images .value a {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .page-head {
	display: flex;
	align-items: center;
	margin-bottom: .5rem;
  }

  .page-head > h1 {
	flex: 1 1 auto;
	margin-bottom: 0;
  }

  .page-head .content_list_styles {
	margin-left: 5px;
  }
}